:focus::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder:focus {
   color: #ccc;
}
:-ms-input-placeholder:focus {
   color: #ccc;
}
.ac-wrapper {
	position: relative;
}
.ac-wrapper .geo-box-span {
	top: 5px;
}
.ac-container {
	position: absolute;
	display: none;
	top: 6em;
	left: 0;
	z-index: 3;
	background: #fff;
	border: 1px #fff solid;
	border-top: 0 none;
	font-family: "Mxedruli", sans-serif;
	line-height: 1.5em;
	width: 100%;
	min-height: 9em;
	max-height: 19em;
	overflow-x: hidden;
	overflow-y: auto;
	border-left: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.fr-searching .ac-container {
	top: 3.7em;
}

.fr-search-bottom-wrapper .ac-container {
	top: 3.75em;
}
.ac-container-show {
	display: block;
}
a.ac-row {
	display: block;
	padding: 0.5em 1em;
}
a.ac-row:first-child {
	margin-top: 0.7em;
}
a.ac-row img {
	margin-right: 0.7em;
}
.ac-row:hover,.ac-row-hover {
	background: #f4f3f2;
	transition: .15s;
}

.fr-list-header {
	background: #4c637b;
	border-left: 3px transparent solid;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: #fff;
	font: 400 1em/2.4em "Mxedruli", Sylfaen;
	padding: .7em 0;
}
.fr-list-row {
	border-left: 3px transparent solid;
}

.fr-list-row .columns {
	padding-top: .7em;
	padding-bottom: .7em;
	font: 400 .9em/1.4em "Mxedruli", Sylfaen;
}
.fr-list-row:nth-child(even) {
	background: #f9fbfd;
}

.fr-list-row:hover {
	border-left: 3px #3483c2 solid;
	background: #e1edf6;
	transition: .3s;
}

.fr-list-av-wrapper {
	position: relative;
}
.fr-list-user-online {
	position: absolute;
	bottom: 2px;
	left: 12px;
	width: 12px;
	height: 12px;
	background: green;
	border: 2px #fff solid;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.fr-list-av-wrapper img {
	width: 54px;
	height: 54px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.fr-list-row .columns.fr-list-details-wrapper {
	padding-top: 1.1em;
}

.fr-list-details, .fr-list-details a {
	font-size: .9em;
	color: #999;
	fill: #999;
}

.fr-list-details a {
	border-bottom: 1px #999 dashed;
}
.fr-list-details a:hover {
	border-bottom: 0 none;
	color: #00659f;
}

.fr-list-details svg {
	margin-left: .7em;
}
.fr-list-details svg:first-child {
	margin-left: 0;
}

.fr-list-hl {
	font-weight: bold;
	color: #212121;
	fill: #212121;
}

.fr-list-row .columns.fr-list-action, .fr-list-row .columns.fr-checkbox {
	text-align: center;
	line-height: 3.8em;
}
.fr-list-action svg, .fr-list-action .icon-gel {
	color: #f48000 !important;
	fill: #f48000;
}
.fr-list-action:hover svg, .fr-list-action:hover .icon-gel {
	color: #3483c2 !important;
	fill: #3483c2;
	transition: all .3s;
}
.fr-list-action .paper-menu {
	text-align: left;
}

ul.fr-list-notified-freelancers {
	list-style: none;
}
ul.fr-list-notified-freelancers li {
	display: inline-block;
	margin: .7em 1.4em;
	text-align: center;
	font: 400 .9em/1.4em "Mxedruli", Sylfaen;
	width: 4.9em;
	overflow: hidden;
}
.fr-list-notified-freelancers img {
	display: block;
	width: 50px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.fr-new-task-slide h3 {
	margin-left: 1em;
}

input.fr-nt-txt, select.fr-nt-sel {
	font: 400 1.25em/1.25em "Mxedruli", Sylfaen;
}

textarea.fr-nt-textarea {
	font: 400 1.25em/1.25em "Mxedruli", Sylfaen;
	height: 6em;
}

.fr-new-task-slide .right {
	font: 400 .9em/1em "Mxedruli", Sylfaen;
	color: #999;
}

.fr-nt-slide-hidden {
	transform: translateX(-3840px);
	transition: 1s;
	height: 0;
	overflow: hidden;
}

.fr-nt-slide-visible {
	transform: translateX(0);
	transition: 1s;
}