@import 'anim.css';
@import 'switch.css?v2';
@import 'loader.css';
/*@import 'snow.css';*/

.test-mode-active {
	background-color: #111;
	color: #fff;
}
body {
	overflow-x: hidden
}
svg {
	vertical-align: text-bottom;
}
/* Inputs */
::-webkit-input-placeholder {
	color: #6b9bc1;
}
:-moz-placeholder {
	color: #6b9bc1;
}
::-moz-placeholder {
	color: #6b9bc1;
}
:-ms-input-placeholder {
	color: #6b9bc1;
}
select {
	height: 2.3125em;
}
select.disabled {
	background: #ddd;
	color: #9f9f9f;
}
label i {
	color: #9f9f9f;
}
a.label:hover,a.label:focus {
	color: #fff;
}

/* helpers */
.icon-gel {
	font-size: 1.2em;
	font-family: "Mxedruli", sans-serif !important;
}
label .icon-gel {
	color: #9f9f9f;
}
.ml5 {
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 0.5em !important;
}
.ml20 {
	margin-left: 2em;
}
.mr15 {
	margin-right: 15px;
}
.mt2 {
	margin-top: 0.2em !important;
}
.mt3 {
	margin-top: 0.3em !important;
}
.mt5 {
	margin-top: 0.5em !important;
}
.mt10 {
	margin-top: 1em !important;
}
.mt15 {
	margin-top: 1.5em;
}
.m10 {
	margin: 1em;
}
.mt20 {
	margin-top: 2em !important;
}
.mt30 {
	margin-top: 3em !important;
}
.mt50 {
	margin-top: 5em;
}
.ph10 {
	padding-left: 0.5em!important;
	padding-right: 0.5em!important;
}
.p10 {
	padding: 0.5em;
}
.p20 {
	padding: 1em;
}
.fwn {
	font-weight: normal;
}
.nb {
	border: 0 none!important;
}
.vh {
	visibility: hidden;
}
.do-dont {
	padding-bottom: 10px;
	font-family: "Mxedruli", san-serif;
	font-size: 0.9em;
	color: #212121;
	line-height: 1.3em;
	display: none;
}
.do-dont-visible {
	display: flex !important;
}
.do-dont-txt {
	background: #e5e5e5;
	border: 1px #ebebeb solid;
	padding: 1em !important;
	min-height: 5.9em;
	flex: 1;
}
.do-dont-do {
	border-top: 15px solid #4caf50;
	display: table-cell;
}
.do-dont-dont {
	border-top: 15px solid #f44336;
	display: table-cell;
}
.do-dont-title {
	font-family: "Mtavruli", san-serif;
	padding: 10px 0;
	font-weight: 600;
	color: #737373;
}
.do-dont-do .do-dont-title {
	color: #4caf50;
}
.do-dont-dont .do-dont-title {
	color: #f44336;
}
.success-panel {
	background: #e7f1de;
	border: 1px #acd18f solid;
}
.split-left span.splitter {
	width: 3.75em;
	display: block;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 0.6em;
	border-right: #fff solid 1px;
}
.button {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: background-color 150ms ease-out;
	-moz-transition: background-color 150ms ease-out;
	transition: background-color 150ms ease-out;
}
.button:not(.empty) {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	letter-spacing: 0.02em;
}
.button.raised {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.button.raised:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.fr-wrapper {
	background: #172126 url(../images/findfrbk1.jpg) bottom no-repeat;
	background-size: cover;
	height: 70vh;
}
.fr-searching {
	background-position: top;
	height: 14em;
}
.fr-text-field {
	height: 3em !important;
	font: 400 2em/2em "Mxedruli",Sylfaen !important;
	position: relative;
}
.fr-searching .fr-text-field {
	font: 400 1.25em/1.25em "Mxedruli",Sylfaen !important;
}
.fr-text-field-wrapper .fr-search-icon {
	position: absolute;
	right: 2.6em;
	top: 1.6em;
	padding: .4em;
}
.fr-searching .fr-search-icon {
	top: .6em;
}
@media only screen and (min-width: 768px){
	.mt50 {
		margin-top: 5em;
	}
	.f25 {
		font-size: 2.5em !important;
	}
	.f16 {
		font-size: 1.25em !important;
	}
	.b30 {
		bottom: 3em;
	}
	.t70 {
		top: 3em;
	}
	.debug-pan::before {
	  content: "MIN-WIDTH 768px Fired";
	}
}
@media only screen and (min-width: 1024px){
	.mt50 {
		margin-top: 5em;
	}
	.f25 {
		font-size: 2.5em !important;
	}
	.f16 {
		font-size: 1.25em !important;
	}
	.b30 {
		bottom: 3em;
	}
	.t70 {
		top: 2.5em;
	}
	.zoom2 {
		zoom: 2;
	}
	.bit-feat img.bit-deal-img {
		height: 243px;
	}
	.bit-reg img.bit-deal-img {
		height: 125px;
	}
	.debug-pan::before {
	  content: "MIN-WIDTH 1024px Fired";
	}
}
@media only screen and (min-width: 1152px){
	.row {
		max-width: 71.25em;
	}
	.bit-feat img.bit-deal-img {
		height: 280px;
	}
	.bit-reg img.bit-deal-img {
		height: 144px;
	}
}
@media only screen and (min-width: 1440px){
	.mt50 {
		margin-top: 5em;
	}
	.f25 {
		font-size: 2.5em !important;
	}
	.f16 {
		font-size: 1.25em !important;
	}
	.b30 {
		bottom: 3em;
	}
	.t70 {
		top: 7em;
	}
	.debug-pan::before {
	  content: "MIN-WIDTH 1440px Fired";
	}
}
@media only screen and (max-width: 1024px){
	.f25 {
		font-size: 1.5em !important;
	}
	.f16 {
		font-size: 0.9em !important;
	}
	.b30 {
		bottom: 0.5em;
	}
	.t70 {
		top: 0.5em;
	}
	.zoom2 {
		zoom: 1;
	}
	.debug-pan::before {
	   content: "MAX-WIDTH 1024px Fired";
	}
	.fr-wrapper {
		height: 55vh;
	}
	.fr-text-field {
		height: 2em !important;
		font: 400 1.5em/1.5em "Mxedruli",Sylfaen !important;
	}
	.fr-text-field-wrapper .fr-search-icon {
		position: absolute;
		right: 2em;
		top: .1em;
		padding: .4em;
	}

}
@media only screen and (max-width: 767px){
	.row.collapse .column,.row.collapse .columns {
		padding-left: 0.1em;
	}
	.mt50 {
		margin-top: 1em;
	}
	.f25 {
		font-size: 1.5em !important;
	}
	.f16 {
		font-size: 0.9em !important;
	}
	.contrast-wrapper h1 {
		font-size: 1.2em !important;
	}
	.contrast-wrapper h2 {
		font-size: 1.1em !important;
	}
	.debug-pan::before {
		content: "MAX-WIDTH 767px Fired";
	}
}
@media only screen and (max-width: 460px){
	.fr-text-field {
		height: 2.1em !important;
		font: 400 1em/1.2em "Mxedruli",Sylfaen !important;
	}
	.fr-text-field-wrapper .fr-search-icon {
		display:none;
	}
}
.mb0 {
	margin-bottom: 0 !important;
}
.mb3 {
	margin-bottom: 0.3em;
}
.mb10 {
	margin-bottom: 1em;
}
.mb20 {
	margin-bottom: 2em;
}
.mb30 {
	margin-bottom: 3em;
}
.mb50 {
	margin-bottom: 5em;
}
.rel {
	position: relative;
}
.block {
	display: block;
}
.inline {
	display: inline !important;
}
.inline-block {
	display: inline-block;
}
.tcenter {
	text-align: center;
}
.tright {
	text-align: right;
}
.fwn {
	font-weight: normal;
}
.vmiddle {
	vertical-align: middle;
}
.wauto {
	width: auto !important;
}
.prefix-own:after {
	content: "";
	padding-right: 0.5em;
	border-right: 1px #ddd solid;
	margin-right: 0.2em;
	color: #ddd;
}
a {
	color: #00659f;
}
a.disabled {
	color: #dcdcdc !important;
}
a.disabled svg {
	fill: #dcdcdc !important;
}
a:hover, a:focus {
	color: #f48000;
}
h2.heading, a.button, .label {
	font-weight: normal;
}
.geo-box {
	position: relative;
}
.geo {
	padding-right: 34px!important;
}
.hide-geo-span {
	padding-right: 0px!important;
}
.geo-box-span {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 26px;
	height: 26px;
	z-index: 2;
	color: #666;
	font-family: "BPGSquareMtavruli", sans-serif;
	font-size: 0.8em;
	background: #ddd;
	padding: 7px 4px;
	line-height: 13px;
}
.gbs-vmiddle .geo-box-span {
	top: 50%;
	margin-top: -13px;
}
.button.empty, .button.white {
	background-color: transparent;
	border: 1px solid #d0d0d0;
	color: #333;
}
.button.white {
	background-color: #fff;
}
.button.empty:hover, .button.white:hover {
	background: #f48000;
	border-color: #ff7043;
	color: #fff;
}
.button.primary-alt {
	background-color: #3483c2;
	border-color: #3483c2;
	color: #fff;
}
.button.primary-alt:hover {
	background-color: #005c9b;
	border-color: #005c9b;
	color: #fff;
}
.button.button-rfix {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.rotate {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	 
	overflow:hidden;
}  
 
.rotate:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}
.lat {
	font-family: sans-serif, Verdana, Arial;
}
/* helpers end */

/* Joyride site gide */
.joyride-tip-guide {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	color: #000;
	border: 4px #f48000 solid;
}
.joyride-tip-guide .joyride-nub.top {
	border-color: #f48000;
}
.joyride-tip-guide .joyride-nub.bottom {
	border-color: #f48000 !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border: outset 14px;
}
.joyride-content-wrapper .button {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #f48000;
	border-color: #ff7043;
	font-family: "BPGSquareMtavruli", sans-serif;
	margin-top: 0.2em;
}
.joyride-content-wrapper .button:hover {
	background: #ff7043;
	border-color: #f48000;
}
.joyride-close-tip:hover {
	color: #2284a1 !important;
}
.joyride-tip-guide h4 {
	margin-top: 0.5em;
	color: #ff7043;
}


/* Joyride site guide end */

.heading {
	font-size: 1em;
	text-transform: uppercase;
	font-family: "Mtavruli", Sylfaen;
}
.subheading {
	font-size: 0.9em;
	font-family: "Mxedruli", Sylfaen !important;
	line-height: 1.3em;
}
.maxlength-error-notice {
	display: block;
	background: #D4AF37;
	padding: 0.2em 0.4em;
	color: #fff;
	font-size: 0.8em;
	margin-bottom: 0.2em;
}

.mp-cats-uhv {
	width: 100%;
	height: 2.8em;
	overflow: hidden;
	border-top: 5px #3483c2 solid;
	background: #eee;
	-webkit-transition: 0.3s all ease-in;
	-moz-transition: 0.3s all ease-in;
	-o-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
	transition: 0.3s all ease-in;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.mp-cats-uhv:hover {
	height: 5.6em;
}
.mp-cats-uhv li {
	display: inline-block;
	padding: 0.6em 1em;
}
.mp-cats-uhv a {
	display: inline-block;
	position: relative;
}
.mp-cats-uhv .mp-items-in-cats-cc {
	display: none;
	position: absolute;
	right: -2.25em;
	top: -0.7em;
	font-size: 0.6em;
	padding: 0.1em 0.5em;
	background: #3483c2;
	color: #fff;
}
.mp-cats-uhv:hover .mp-items-in-cats-cc {
	display: block;
}
.cats-2c li {
	line-height: 1.6em;
}
.cats-2c .active {
	background: #e9e9e9;
	color: #333;
	padding: 2px 6px;
	border-radius: 4px;
}
.has-large-video-bg .top-bar {
	padding: 0.5em;
}
/* Top Bar */
.top-bar {
	width: 100%;
	z-index: 4;
	background: transparent;
	height: 56px;
	overflow: visible;
}
.top-bar ul {
	line-height: 37px;
}
.top-bar .logo {
	margin: 3px 0 0 25px;
}
.top-bar-abs {
	position: absolute;
	top: 0;
}
.top-bar-regular {
	background: rgba(52,131,194,.97) !important;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	margin-bottom: 0;
}
.top-bar.expanded {
	height: 56px;
}
.tb-logo {
	position: relative !important;
	float: left;
	left: -8px;
	top: 0.3em !important;
}
.top-bar .title-area {
	width: 100%;
}
.top-bar .toggle-topbar.menu-icon {
	position: relative;
	float: left;
	margin: 10px 0 0 40px;
	padding: 0 18px 0 0;
	display: none;
}
.top-bar-regular .toggle-topbar.menu-icon {
	display: inline-block;
}
.toggle-topbar.menu-icon span {
	margin-right: 8px;
}
.top-bar .title-area .name {
	float: left;
}
.top-bar .toggle-topbar a.tb-logo-text-img {
	padding: 0 10px;
}
.top-bar .tb-fm a {
	color: #00659f;
}
.tb-s {
	position: absolute;
	left: 50%;
	width: 63.05em;
	margin-left: -31.5em;
	font-size: 1.1em;
}
.tb-s i {
	position: absolute;
	top: 0.9em;
	left: 1.5em;
	color: #accce5;
	z-index: 2;
}
.tb-s form input {
	background: rgba(255,255,255,0.2);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 36px;
	border: 0 none;
	color: #fff;
	padding-left: 5em;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: 0.15s all linear;
	-moz-transition: 0.15s all linear;
	-o-transition: 0.15s linear;
	-ms-transition: 0.15s linear;
	transition: 0.15s all linear;
}
.tb-s form input:focus {
	background: rgba(255,255,255,0.9);
	color: #000;
}
.tb-s form input::-webkit-input-placeholder {
	color: #accce5;
}
.tb-s form input:-moz-placeholder {
	color: #fff;
}
.tb-s form input::-moz-placeholder {
	color: #fff;
}
.tb-s form input:-ms-input-placeholder {
	color: #fff;
}
.tb-s form input:focus::-webkit-input-placeholder {
	color: #ccc;
}
.tb-s form input:focus:-moz-placeholder {
	color: #757575;
}
.tb-s form input:focus::-moz-placeholder {
	color: #757575;
}
.tb-fm {
	letter-spacing: 0.02em;
	margin: 0.95em 1em 0;
	padding: 0 0 0 .7em;
}
.tb-fm a {
	font-family: "Mxedruli", san-serif;
	font-size: 1em;
}
.tb-fm a:hover {
	color: #009bd1;
}
.tb-fm:last-child {
	border-left: 0 none;
}

.tb-user-avatar {
	float: right;
	margin: 0 1em 0 0;
}
.tb-notifications {
	float: right;
	margin: 0 0.8em 0 0;
}
.tb-notifications-pm li:not(.pm-context) {
	font-size: 0.9em;
}
.tb-notifications a.q {
	width: 38px;
	height: 56px;
	text-align: center;
	padding: 10px;
	display: block;
}
#tb-n {
	display: block;
	background: rgba(255,255,255,.5);
	color: #757575;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 0.9em;
	padding: 4px;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 0.4em;
	webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tb-notifications-activate:hover #tb-n, .tb-dropdown-active #tb-n {
	background: rgba(255,255,255,.9);
	color: #212121;
}
.tb-n-active #tb-n {
	background: #ff4444;
	color: #fff;
}
.tb-user-avatar.tb-user-avatar-img {
	padding: 10px 0;
}
.tb-user-avatar img {
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.tb-user-avatar .tb-avatar-wrapper {
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: rgba(0,0,0,.25);
	display: inline-block;
	position: relative;
	margin: 10px 0;
}
.tb-user-avatar .tb-avatar-img-wrapper {
	padding: 6px 0;
	display: inline-block;
}
.tb-user-avatar .tb-avatar-wrapper i {
	margin-top: -11px;
	margin-left: -8px;
	left: 50%;
	top: 50%;
	color: #fff;
	position: absolute;
}
/* Top-bar Search */
.top-bar-search-activate {
	white-space: nowrap;
	display: block;
	margin: 0 0.5em 0;
	position: relative;
	float: right;
}
.top-bar-search-activate a {
	padding: 7px;
	width: 38px;
	height: 56px;
	display: block;
	text-align: center;
}
.top-bar-search-activate a i {
	color: #fff;
}
.top-bar.tb-sa .search-icon {
	position: absolute;
	top: 0.1em;
	left: 2em;
	color: #fff;
	opacity: 0.15;
}
.top-bar-search input, .top-bar-search input:focus {
	background: transparent;
	border: 0 none;
	border-bottom: 1px #444 solid;
	/*margin-left: 2em;*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
}
.top-bar.tb-sa .menu-icon {
	display: none !important;
}
.top-bar-search {
	display: none;
	width: 100%;
}
.top-bar-search-active {
	display: block;
}
.top-bar-more-activate {
	float: right;
	margin: 0 1.5em 0 0;
}
.top-bar-cats-activate {
	float: right;
	margin: 0;
}
.top-bar a.q {
	width: 38px;
	height: 56px;
	text-align: center;
	display: block;
	position: relative;
}
.top-bar-more-activate a.q svg {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -2px;
}
.top-bar-cats-activate a.q svg {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -13px;
	margin-left: -12px;
}

/* Paper Menu */
.paper-menu {
	display: none;
	position: absolute;
	top: 0;
	z-index: 5;
	float: left;
	width: auto;
	min-width: 325px;
	padding: 5px 0;
	list-style: none;
	font-family: "Mxedruli", sans-serif;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 1px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	line-height: 1.6 !important;
	overflow-y: scroll;
	max-height: 85vh;
}
.paper-menu li.pm-context {
	color: #bdbdbd;
	padding: 10px 24px;
}
.paper-menu .right {
	width: 25px;
	padding: 2px 6px;
	background: #757575;
	color: #fff;
	border-radius: 2px;
	margin: 3px 0 0;
	font-size: 0.625em;
	text-align: center;
}
.paper-menu .right.inactive {
	background: #d8d8d8;
}
li.pm-d {
	list-style: none;
	height: 1px;
	background: #bdbdbd;
	margin-bottom: 8px;
}
.pm-dropdown {
	position: relative;
}
.pm-dropdown.tb-dropdown-active .paper-menu {
	display: block;
	right: -12px;
	top: 54px;
}
.pm-ar {
	border-color: transparent;
	border-bottom-color: #fff;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 47.5px;
	z-index: 1;
	height: 0;
	width: 0;
}
.pm-dropdown.tb-dropdown-active .pm-ar {
	display: block;
}
.paper-menu li {
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.paper-menu a:hover {
	background: #e0e0e0;
}
.paper-menu li a {
	padding: 8px 24px;
	display: block;
	color: #212121;
}
.paper-menu .pm-f {
	position: absolute;
	right: 0;
	top: 0;
	float: right;
	display: inline-block;
	background: #bdbdbd;
	color: #fff;
	display: inline-block;
	min-width: 24px;
	height: 24px;
	line-height: 24px;
	padding: 0 3px;
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	margin: 10px 16px 0 0;
}
.paper-menu .pm-user img  {
	margin: 0.5em 0.7em;
}
.paper-menu .pm-avatar-wrapper {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: rgba(0,0,0,.5);
	margin: 0 16px 0 10px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	padding-top: 2px;
}
.paper-menu i:not(.icon-user), .paper-menu span.icon-gel, .paper-menu svg {
	color: #757575;
	fill: #757575;
	margin: 0 26px 0 16px;
	width: 20px;
	text-align: center;
	display: inline-block;
}
img.pm-n-type {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 24px 0 0;
	opacity: 0.2;
}
.pm-n-msg {
	display: inline-block;
	width: 75%;
}
.pm-n-row {
	list-style: none;
	font-size: 0.9em;
}
.pm-n-time {
	display: block;
	margin-top: 0.5em;
	color: #BDBDBD;
}
.paper-menu li a.pm-n-more {
	font-size: 1em;
	font-weight: 600;
	padding: 1em 0 2em;
}
img.pm-n-avatar {
	-webkit-border-radius: 50%;
}

/* Clicks on top bar fixed */
.q:focus::before {
background-color: rgba(0,0,0,.1);
bottom: -4px;
content: ' ';
left: -4px;
margin: auto;
padding: 4px;
position: absolute;
right: -4px;
top: -6px;
z-index: -1;
border-radius: 50%;
width: 38px;
height: 38px;
}

/* Side bar */
.side-bar {
	bottom: 0px;
	background: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	display: block;
	font-family: Mxedruli, sans-serif;
	left: 0px;
	position: fixed;
	top: 0px;
	min-width: 280px;
	width: 280px;
	z-index: 6;
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-property: transform;
	-webkit-transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transform: translateX(-280px);
	transform: translateX(-280px);
	overflow-y: auto;
	box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.side-bar-visible {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
/* Scrollbar style for webkit browsers */
.side-bar::-webkit-scrollbar-track, .paper-menu::-webkit-scrollbar-track {
border-radius: 2px;
}

.side-bar::-webkit-scrollbar, .paper-menu::-webkit-scrollbar {
width: 5px;
background-color: #F7F7F7;
}

.side-bar::-webkit-scrollbar-thumb, .paper-menu::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}

.sb-logo {
	border-bottom: 1px solid rgb(224, 224, 224);
	display: block;
	height: 64px;
	margin: auto;
	padding: 12px 21px 10px;
}
.sb-nav {
	color: rgb(51, 51, 51);
	font-weight: 700;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sb-user-wrapper {
	background: #fff url(../images/sb_nav_md_bg1.png) center center no-repeat;
	background-size: cover;
	padding-top: 25px;
}
.sb-nav:hover {
	background: #e0e0e0;
}
.side-bar a:not(.sb-logo-img) {
	display: block;
	padding: 15px 0 15px 0;
	color: rgb(51, 51, 51);
}
.sb-nav i, .sb-nav svg {
	color: #757575;
	fill: #757575;
	margin: 0 1.4em 0 16px;
	display: inline-block;
	width: 20px;
	text-align: center;
}
.sb-nav .right {
	width: 25px;
	padding: 2px 6px;
	background: #757575;
	color: #fff;
	border-radius: 2px;
	margin: 3px 16px 0;
	font-size: 0.625em;
	text-align: center;
}
.sb-nav .right.inactive {
	background: #d8d8d8;
}
.sb-nav .dropdown .icon-gel {
	width: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 1em;
}
.sb-nav .dropdown i {
	margin-left: 0;
}
.sb-nav .sb-link {
	line-height: 32px;
}
.sb-image {
	padding: 16px;
}
.sb-image img, .sb-avatar {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	position: relative;
}
.sb-avatar {
	background: rgba(0,0,0,0.75);
}
.sb-avatar i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -12px;
	color: #fff;
}
.side-bar a.sb-username {
	position: relative;
	display: block;
	line-height: 48px;
	padding: 0;
	padding-left: 16px;
	padding-right: 56px;
	text-decoration: none;
	font-weight: 500;
	overflow-x: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #757575;
}
.side-bar a.sb-username:hover, .has-dropdown-active {
	color: #212121 !important;
	background-color: rgba(0, 0, 0, 0.1);
}
.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
position: absolute;
right: 24px;
top: 24px;
}
.side-bar .has-dropdown:hover {
	cursor: pointer;
}
.side-bar .dropdown {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: none;
	font-weight: 700;
	background-color: #e0e0e0;
}
.side-bar .dropdown a:hover {
	background-color: #cecece;
}
.side-bar .dropdown li {
	list-style-type: none;
}
.side-bar .dropdown a {
	padding-left: 16px;
	display: block;
}
.side-bar .divider {
	height: 1px;
	margin: 8px 0;
	background-color: #bdbdbd;
}
/* Side Menu Swing Layer */
#sb-menu-swing-layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 2em;
	height: 100%;
	z-index: 5;
}


/* Fixed Top-bar */
.top-bar-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(52,131,194,.97) !important;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.top-bar-fixed .toggle-topbar.menu-icon {
	display: inline-block;
}
.fixed-title-area .tb-logo {
	display: inline-block;
}
/* Top bar search active */
.top-bar-fixed.tb-sa {
	height: 6.5em;
}
.top-bar-fixed.tb-sa .tb-sa-hide {
	display: none !important;
}
.top-bar-fixed.tb-sa .search-icon {
	position: absolute;
	top: 1.5em;
	left: -2.5em;
	color: #fff;
	opacity: 0.3;
}
.top-bar-fixed.tb-sa .top-bar-search-activate {
	height: 5em;
	margin-top: 0em;
	position: relative;
	float: none;
	margin: 0 10em;
}
.top-bar-fixed.tb-sa .top-bar-search input {
	border-bottom: 2px #eee solid;
	font-size: 2em;
	width: 100%;
}


/* Quick mask */
.qp-ui-mask-modal {
	background-color: rgba(0, 0, 0, 0.698039);
	height: 100%;
	left: 0px;
	opacity: 0.1;
	top: 0px;
	visibility: hidden;
	width: 100%;
	z-index: 4;
	position: fixed;
	transition: visibility 0ms linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: visibility 0ms linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
}
.qp-ui-mask-modal.qp-ui-mask-visible {
	opacity: 1;
	visibility: visible;
	transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
}
.disable-scroll {
	overflow: hidden !important;
	margin: 0;
	height: 100%;
}
/* End Quick Mask */

#m-action {
	position: fixed;
	padding: 23px;
	padding-left: 15px;
	right: 0;
	bottom: 0;
	z-index: 3;
	white-space: nowrap;
}
#m-action:hover .m-c {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
#m-action:hover .m-c-i {
	background: #e0e0e0;
}
#m-action:hover .m-am {
	visibility: visible;
}
#m-action:hover .m-am i {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
#m-action:hover .m-am i.m-am-1 {
	-webkit-transition: .15s cubic-bezier(.4,0,1,1);
	transition: .15s cubic-bezier(.4,0,1,1);
}
#m-action:hover .m-am i.m-am-2 {
	-webkit-transition: .25s cubic-bezier(.4,0,1,1);
	transition: .25s cubic-bezier(.4,0,1,1);
}
#m-action:hover .m-am-txt {
	display: inline-block;
	opacity: 1;
	-webkit-transition: .15s cubic-bezier(.4,0,1,1);
	transition: .15s cubic-bezier(.4,0,1,1);
	-webkit-transition-delay: .26s;
	transition-delay: .26s;
}
.m-am-txt {
	-webkit-transition-delay: 0;
	transition-delay: 0;
	background: rgba(70,70,70,.9);
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	color: #ececec;
	display: hidden;
	line-height: 1em;
	max-width: 200px;
	overflow: hidden;
	padding: 6px 8px;
	text-overflow: ellipsis;
	vertical-align: middle;
	opacity: 0.1;
}
.m-cw {
	display: block;
	text-align: right;
	position: relative;
}
.m-txt {
	display: none;
}
.m-c {
	display: block;
	background: #ff4444;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50%;
	color: #ffffff !important;
	font-size: 30px;
	text-decoration: none;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .15s cubic-bezier(.4,0,1,1);
	transition: .15s cubic-bezier(.4,0,1,1);
}
.m-c svg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
}
.m-am {
	visibility: hidden;
	position: absolute;
	right: 1.45em;
	text-align: right;
	font-family: "Mxedruli", san-serif;
}
.m-am a {
	display: block;
}
.m-am i {
	opacity: 0;
	-webkit-transform: scale(.4);
	transform: scale(.4);
}
.m-am-bottom {
	top: -6.05em;
}
.m-a {
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	cursor: pointer;
	outline: none;
	padding: 0;
	-webkit-user-drag: none;
	display: block;
}
.m-a:hover {
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	-webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
	transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
}
.m-am i {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: rgba(70,70,70,.75);
	margin: 0.5em 0.6em;
	display: inline-block;
	color: #ececec;
}
.m-am a:hover i {
	background: #3483c2;
}

/* Main Page */
#mp-post-job {
	padding-bottom: 4em;
}
#mp-post-job .mp-post-job-icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	margin: 0.5em 0;
}

#mp-post-job i.icon-chevron-right {
	display: block;
	color: #d0d0d0;
	font-size: 24px;
	margin-top: 1.5em;
}

#mp-post-job i.icon-pencil {
	background: #f48000;
}

#mp-post-job i.icon-user {
	background: #3483c2;
}

#mp-post-job span.icon-gel {
	background: #5da423;
	line-height: 63px;
}
/* end Main Page */
/* Obsolete */
/*
.top-bar.expanded .title-area {
	background: #67a2d1;
}
.top-bar.expanded .toggle-topbar a span {
	-webkit-box-shadow: 0 10px 0 1px #cdcdcd,0 16px 0 1px #cdcdcd,0 22px 0 1px #cdcdcd;
	box-shadow: 0 10px 0 1px #cdcdcd,0 16px 0 1px #cdcdcd,0 22px 0 1px #cdcdcd;
}
.top-bar i, .top-bar-nav-icon, .top-bar span.icon-gel {
	color: #9ac1e1;
	display: inline-block;
	margin-right: 0.5em;
	width: 1em;
}
.top-bar span.icon-gel {
	margin-right: 0.2em;
}
.top-bar-nav-icon {
	font-size: 1.2em;
}
.top-bar h2 {
	line-height: 45px;
	font-size: 1.0625em;
	margin: 0;
	padding: 0 1.7em;
}
.top-bar-section ul, .top-bar-section li a:not(.button) {
	background: #3483c2;
}
.top-bar-section ul li>a {
	font-weight: 600;
	padding: 8px 15px;
	font-size: 1em;
	letter-spacing: 0.02em;
}
.top-bar-section ul li.hover>a {
	background: #005c9b;
	-webkit-transition: background-color 200ms ease-in;
	-moz-transition: background-color 200ms ease-in;
	-o-transition: background-color 200ms ease-in;
	-ms-transition: background-color 200ms ease-in;
	transition: background-color 200ms ease-in;
}
.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
	border-right: 1px solid #156091;
	border-left: 1px solid #fff;
}
#top-wrapper {
	margin: 0;
	background: #000;
	color: #fff;
}
#top-wrapper a:link, #top-wrapper a:active, #top-wrapper a:visited {
		color: #fff;
}
#top-wrapper a:hover {
		color: #2ba6cb;
}

.top-bar-section li label, .top-bar-section .dropdown li label {
	background: #64aaed;
	color: #fff;
	padding: 8px 15px 2px;
	font-family: Mxedruli, sans-serif;
	font-weight: 600;
	letter-spacing: 0.02em;
}
.top-bar-section .dropdown li a {
	font-family: Mxedruli, sans-serif;
	font-size: 0.8125em;
	padding: 10px 15px;
	letter-spacing: 0.02em;
}

.top-bar-section .divider,.top-bar-section [role="separator"] {
	border-color: #156091;
}
.logo-wrapper {
	padding: 10px 25px;
	max-width: 100% !important;
}
.top-bar-section .dropdown label {
	font-size: 1em;
}
*/

.nav-msg-nmbr {
	position: absolute;
	width: 32px;
	top: -0.6em;
	text-align: center;
	font-size: 0.6em;
	left: 0;
	margin-left: 1.4em;
}

@-webkit-keyframes blink {  
0% { opacity: 1.0; } 50% { opacity: 0.0; } 100% { opacity: 1.0; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

.notify-wrapper {
	background: rgba(70,70,70,.9);
	color: #fff;
	padding: 3px 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
	top: -4px;
	position: absolute;
	font-size: 0.8em;
	-webkit-background-clip: padding-box;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
	line-height: normal;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.nw-active {
	background-color: #dc0d17;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
	/*background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
	background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);*/
}
.notify-wrapper-left {
	left: 24px;
}
.notify-wrapper-right {
	right: 0;
}

/*
.top-bar-available-funds {
	display: inline-block;
	background: #2ba6cb;
	padding: 0 6px 0 5px;
	line-height: 1.5em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0.7em 0.5em 0 0.5em;
}
*/
.nmbr {
	font-family: sans-serif;
}

/*
.header-avatar {
	margin-top: 10px;
}
.avatar {
	background-color: #fff;
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	border: 1px #999 solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
.avatar-2x {
	width: 50px;
	height: 50px;
}
.avatar img {
	display: block
}

.top-search-button, .orange {
	background: #f48000;
	border-color: #ff7043;
}
.top-search-button:hover, .orange:hover {
	background: #ff7043;
	border-color: #f48000;
}
*/
/* Top Bar END */

/* Overlay CSS */
.modal {
	background-color:#fff;
	display:none;
	width:50em;
	margin-left: -25em;
	left: 50% !important;
	padding:15px;
	text-align:left;
	border:2px solid #333;

	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
  }
.modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
}
.close-wrapper {
	text-align: right;
}
/* Overlay CSS end */

/* How it Works */
.c1-w {
	padding-right: 0.2em;
}
.c2-w {
	padding-left: 0.2em;
}
.c1,.c2,.c1b,.c2b {
	padding: 0.2em 0.5em;
	border-radius: 0.4em;
}
.c1,.c1b {
	background: #feeccc;
}
.c2,.c2b {
	background: #cfeaf2;
}
/* How it Works end */

/* Search Bar */
.search-bar {
	margin: 2.5em 0 0.1em;
}

/* Index Page */
.work-area-wrapper {
	background: #f4f3f2;
	padding: 2em 0;
	line-height: 1.3;
	min-height: 38em;
}
.contrast-wrapper {
	background: url(../images/town.png) no-repeat center 0;
	width: 100%;
	height: 130px;    
	text-align: center;
}

.drop-shadow {
	text-shadow: 2px 2px 5px #ffffff;
	filter: dropshadow(color=#ffffff, offx=2, offy=2);
}
.contrast-wrapper h1, .all-header h1 {
	padding-top: 0.5em;
	font-weight: 500;
	font-size: 1.6em;
	margin-bottom: 0;
}

.contrast-wrapper h2, .all-header h2 {
	font-weight: 500;
	margin-top: 0.1em;
	margin-bottom: 1em;
	font-size: 1.2em;
}

.welcome-button {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	border: 1px #bbb solid;
}
.newpost-button {
	background: rgb(93, 164, 35) !important;
	background: rgba(93, 164, 35, 0.7) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.hiw-button {
	background: rgb(198, 15, 19) !important;
	background: rgba(198, 15, 19, 0.6) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.large-block-grid-2>li, .small-block-grid-2>li {
	padding: 0 0.625em 0.25em;
}
.suggest-work-wrapper, .g-wrapper-gray {
	background: #eee;
	width: 100%;
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}

.shadowed-title {
	color: #999;
}
.orbit-container {
	background: transparent;
}
.orbit-progress, .orbit-timer span {
	display: none !important;
}
.orbit-bullets li {
	width: 6px;
	height: 6px;
	background: #999;
	border: 0 none;
}
.orbit-bullets li.active {
	background: #666;
}
.all-suggested-btn {
	position: absolute;
	bottom: -34px;
	width: 155px;
	right: 5em;
 }
.filters ul {
	list-style: none;
}
.filters li {
	display: inline-block;
	border-right: 1px #ddd solid;
	padding: 0.2em 1em;
}
.filters li:last-child, .filters li:first-child {
	border-right: 0 none;
}
.ul-row ul {
	list-style: none;
}
.ul-row li {
	display: inline-block;
	padding: 0.2em 0.5em;
}

/* Deal Bit */
.bit-feat, .bit-reg {
	background: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.058);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 2px rgba(0,0,0,.05);
	cursor: pointer;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	-ms-transition: .3s ease-out;
	transition: .3s ease-out;
}
.bit-feat:hover, .bit-reg:hover, .up-main-wrapper .deal-card:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.bit-img-wrapper {
	background: #3483c2;
	position: relative;
}
img.bit-deal-img {
	opacity: 1;
	transition: opacity .2s;
}
.bit-author-wrapper {
	display: none;
	position: absolute;
	bottom: 0.5em;
	left: 2em;
	color: #fff;
	font-weight: 600;
}
.bit-feat .bit-author-wrapper {
	bottom: 2em;
}
.bit-author-wrapper img {
	border: 2px #fff solid;
	border-radius: 50%;
	margin-right: 1em;
}
.bit-author-wrapper i.icon-user {
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	color: #212121;
	vertical-align: middle;
	margin-right: 1em;
}
.bit-feat .bit-author-wrapper img {
	border: 6px #fff solid;
}
.bit-feat .bit-author-wrapper i.icon-user {
	width: 54px;
	height: 54px;
	padding: 10px 14px;
}
.bit-reg .bit-author-wrapper i.icon-user {
	width: 28px;
	height: 28px;
	padding: 4px 6px;
}
.deal-card {
	margin-top: 1.9em;
	border-radius: 2px;
	overflow: hidden;
}
.deal-card:hover img.bit-deal-img {
	opacity: 0.2;
}
.deal-card:hover .bit-author-wrapper {
	display: block;
}
.bit-feat img.bit-deal-img {
	max-height: 100%;
	max-width: 100%;
}
.bit-txt {
	padding: 10px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.bit-desc {
	font-family: "Mxedruli", san-serif;
	padding: 0 10px 10px;
}
.bit-reg img.bit-deal-img {
	max-height: 100%;
	max-width: 100%;
}
.bit-txt {
	margin: 0.5em 0;
}
.bit-txt a {
	font-family: "Mxedruli", san-serif;
	line-height: 1.25em;
	display: block;
	height: 3.15em;
	font-weight: 600;
	letter-spacing: 0.02em;
}
.bit-reg .bit-txt a {
	height: 2.5em;
	overflow: hidden;
	color: #212121;
	font-weight: 400;
}
.deal-card.bit-reg:hover a {
	color: #00659f
}
.bit-desc {
	margin-bottom: 0.5em;
	display: block;
	height: 8em;
	overflow: hidden;
}
.bit-bottom {
	padding: 5px 10px;
	border-top: 1px #f0f0f0 solid;
	position: relative;
}
.bit-reg .bit-bottom {
	margin-top: 10px;
}
.bit-time {
	display: inline-block;
}
.has-tip.bit-time {
	color: #757575;
}
.bit-rating {
	position: absolute;
	left: 50%;
	width: 90px;
	margin-left: -45px;
	text-align: center;
}
.bit-rating i.icon-star {
	color: #ffca28;
}
.bit-rating.bit-rating-not-rated {
	color: #e0e0e0 !important;
}
.bit-price {
	position: absolute;
	right: 10px;
	font-weight: 600;
	color: #5c6bc0;
	-webkit-transition: all .2s;
	transition: all 0.2s;
}
.deal-card:hover .bit-price {
	color: #5da423;
	font-size: 1.2em;
}
.bit-price-geo {
	font-family: "Mxedruli", san-serif;
	font-weight: normal;
}
.bit-price-free {
	color: #e84e40;
	font-size: 0.9em;
	font-weight: 600;
}

/* Deal Bit end */
.deal-line h2 {
	margin: 0;
}
.deal-line .author {
	display: block;
	font-weight: bold;
}
.ratings i {
	color: #D4AF37;
}

.deal-line .is-express {
	display: block;
	margin-top: 0.3em;
	font-weight: normal;
	padding-left: 0.5em;
	text-align: center;
}
.fadein {
	display: none;
}

.separator, .separator3 {
	border-top: 1px #ddd dashed;
	height: 1px;
}
/* Index Page end */

/* Footer */
.footer {
	background: #343434;
	color: #d7d7d7;
	padding-top: 2em;
}
.footer i {
	color: #828384;
	width: 1.2em;
	display: inline-block;
}
.footer a {
	color: #d7d7d7;
}
.footer a:hover {
	color: #fff;
}
.footer ul {
	list-style: none;
}
.footer li {
	line-height: 2.5em;
}
.footer h3 {
	color: #828384;
}
#fb-like-wrapper {
	position: fixed;
	bottom: 50%;
	left: 50%;
	z-index: 6;
	width: 500px;
	height: 220px;
	text-align: center;
	color: #212121;
	line-height: 1.6em;
	background: #fff;
	margin-left: -245px;
	margin-bottom: -110px;
	padding: 2em;
	background: #fff !important;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	display: none;
}

.fb-say-something {
	height: 520px !important;
	margin-bottom: -260px !important;
}
/* Footer end */

/* Internal page */
.crumbs {
	width: 100%;
	padding: 1em 0.875em 1em 0;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px #dcdcdc solid;
}

.crumbs>* ul {
	list-style: none;
}

.crumbs>* li {
	display: inline-block;
	font-size: 0.8125em;
}

.crumbs>* .current {
	color: #333 !important;
}
.crumbs>* li:after {
	content: "/";
	padding: 0 1em;
	color: #aaa;
}
.crumbs>* li:last-child:after {
	content: "";
	padding: 0;
}

.h-large {
	font-size: 1.6em;
}

.addbookmark, .almost-black {
	color: #333;
}
.gray {
	color: #757575 !important;
	fill: #757575 !important;
}
.light-gray {
	color: #ccc;
}
.red {
	color: #c60f13;
}
.green {
	color: #5da423;
	fill: #5da423;
}
.light-green {
	color: #aed191;
}
.light-red {
	color: #e28789;
}
.blue {
	color: #2ba6cb;
}
.bg-green {
	background: #5da423;
}
.bg-gray {
	background: #ccc;
}
.br-white {
	border-right: 0.2em white solid;
}
.ad-720 {
	max-width: 720px;
	margin: 0 auto;
}
.ad-720 object {
	max-height: 90px;
}
a.ad-txt {
	font-family: "Mxedruli", Sylfaen;
	display: inline-block;
	padding: 0.3em .7em;
	border: 1px #d0d0d0 solid;
	border-bottom: 0 none;
	border-radius: 2px;
	font-size: 0.7em;
}
/* Working Area Side-bar */
.wa-side-bar {
	list-style: none;
	font-family: "Mxedruli", san-serif;
}
.wa-side-bar li {
	list-style: none;
}
.wa-side-bar li a {
	font-weight: 600;
	color: #333;
	display: block;
	padding: 15px;
	border-left: 2px transparent solid;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.wa-side-bar svg {
	fill: #757575;
	margin: 0 1.4em 0;
}
.wa-side-bar li a:hover, .wa-side-bar li a.wa-sb-active {
	background: #fff;
	border-left: 2px #2ba6cb solid;
}
.wa-side-bar li a:hover {
	background: #e0e0e0;
}
.wa-target {
	position: relative;
}
.wa-message {
	position: absolute;
	top: -23px;
	left: 0;
	width: 50%;
	text-align: center;
	background: rgba(0,0,0,0.75);
	margin-left: 25%;
	color: #fff;
	padding: 0.7em;
	border-radius: 2px;
	font-family: "Mxedruli", sans-serif;
	font-weight: 600;
	display: none;
	z-index: 3;
}
.wa-message.red {
	background: rgba(255,68,68,0.9);
}
.wa-message li {
	list-style: none;
	display: block;
	text-align: left;
}
/* Working Area Side-bar floating */
.wa-abs-side-bar {
	position: absolute;
	top: 6em;
	left: -6.3em;
}
.wa-abs-side-bar span {
	display: none;
}
.wa-inactive svg {
	opacity: 0.4;
}
/* Working Area Side-bar end */
.g-user-avatar, .g-user-avatar-wrapper img {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.uw-wrapper {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 124px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 1.1em;
	margin-top: 24px;
}
.uw-wrapper:hover img {
	opacity: 0.5;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.uw-wrapper .uw-remove {
	position: absolute;
	top: 0px;
	right: 1px;
	background: rgba(0,0,0,0.1);
	padding: 5px 6px;
	z-index: 2;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.uw-wrapper:hover .uw-remove {
	background: #757575;
	color: #fff !important;
}
.uw-wrapper progress {
	width: 20%;
	background: #DEDEDE;
	height: 20px;  
	position: absolute;
	bottom: 10px;
	left: 2px;
}
.g-gallery-multi img {
	min-height: 100px;
	max-width: 440px;
	max-height: 100px;
	margin-right: 1em;
	margin-top: 1em;
}
.g-gallery-multi span.file-icon {
	position: absolute;
	top: 15px;
	left: 0;
	width: 100px;
	height: 100px;
	text-transform: uppercase;
	border: 2px #e0e0e0 dashed;
	font-size: 1.6em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.6em;
}
.ua-100x100-wrapper img {
	width: 100px;
	height: 100px;
}
.upload-wrapper .browsefile {
	font-weight: 600;
	fill: #00659f;
	color: #00659f;
	display: block;
	clear: both;
}
.upload-wrapper:hover .browsefile {
	fill: #2ba6cb;
	color: #2ba6cb;
}
.file-input {
	display: none;
	position: absolute;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
	font-size: 42px;
	opacity: 0;
}
/* Internal page end */

/* View page */
.banner1 {
	display: block;
	width: 60%;
	height: 3em;
	margin: 0 auto;
	border: 2px #343434 dashed;
	padding-top: 0.8em;
	border-radius: 6px;
}
.banner1:hover {
	border-color: #2ba6cb;
	cursor: help;
}
.banner1:hover:after {
	content: ': contact@iDo.ge';
	color: #2ba6cb;
}
.bk-temp {
	background: #e7e7e7;
}
.view-page-right {
	margin-top: 1.28em;
}
.view-page-deal-desc {
	font-family: "Mxedruli", sans-serif;
	margin-top: 1em;
	line-height: 1.6;
}
.view-page-right .ratings i {
	margin-right: 0.3em;
}
.big-number {
	font-family: sans-serif, Georgia;
	font-size: 3.2em;
}
.medium-number {
	font-family: sans-serif, Georgia;
	font-size: 2em;
}
.s08 {
	font-size: 0.8em;
}
.user-ratings i {
	margin-right: 0.1em;
}
.separator2 {
	background: url(../images/bk2.png) repeat-x 0 0;
	height: 8px;
}
.view-deal-badge {
	margin: 2em auto 0.1em !important;
	width: 80%;
	border-radius: 3px;
	height: 2em;
	line-height: 1.7em;
	font-weight: bold;
}
.price-desc {
}
/* View page end */

/* Login page */
.fb {
   background: #4c66a4;
}

.fb i {
	color: #9aa9c8;
}

.fb i {
	padding-right: 0.5em;
	margin-right: 0.3em;
	border-right: 2px #9aa9c8 solid;
}
/* Login page end */

/* Inbox page */
.inbox-style .pm-n-row {
	font-family: "Mxedruli", sans-serif;
	font-size: 1em;
}
.inbox-style .pm-d:first-child {
	background: none;
}
.inbox-style img.pm-n-type {
	margin-bottom: 1.1em;
}
.table-head {
	background: #eee;    
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	border-right: 2px #fff solid;
	padding: 0.5em 0.6em;
}
.table-head:first-child {
	border-left: 1px #ddd solid;
}
.table-head:last-child {
	border-right: 1px #ddd solid;
}
.table-row-hover {
	padding: 0.5em 0.6em;
	border-left: 1px #ddd solid;
	border-right: 2px #ddd solid;
	border-bottom: 1px #ddd solid;
	line-height: 1.4em;
}
.table-row-hover:hover {
	background: #f5f5f5;
}
.unread {
	font-weight: bold;
	background: #feeccc;
}
.unread a {
	color: #343434;
}
.msg-success {
	background: #dfedd3;
	border: 1px #457a1a solid;
	padding: 0.5em;
}
.msg-error {
	background: #f6f6f6;
	border: 1px #dcdcdc solid;
	padding: 0.5em;
}
.msg-error ul {
	padding-left: 1em;
	margin-bottom: 0;
}
.flash-error h2 {
	color: #c60f13;;
}
.flash-notice h2 {
	color: #000;
}
.field-err {
	-webkit-box-shadow:0 0 5px #c60f13 !important;
	-moz-box-shadow:0 0 5px #c60f13 !important;
	box-shadow:0 0 5px #c60f13 !important;
	border-color:#c60f13 !important;
}
.message {
	position: relative;
}
.msg-footer {
	display: none;
	position: absolute;
	right: 1.2em;
	bottom: 0.3em;
}
.message:hover .msg-footer {
	display: block;
}
.ta6 {
	height: 6em;
	border-radius: 3px;
}
.ta6-anim {
	height: 2em;
	overflow: hidden;
	-webkit-transition: .5s all;
	-webkit-transition-delay: 5s;
	-moz-transition: .5s all;
	-moz-transition-delay: 5s;
	-ms-transition: .5s all;
	-ms-transition-delay: 5s;
	-o-transition: .5s all;
	-o-transition-delay: 5s;
	transition: .5s all;
	transition-delay: 5s;
}
.ta6-anim:focus {
	height: 6em;
	overflow: hidden;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	-transition-delay: 0s;
}
.ta10 {
	height: 10em;
	border-radius: 3px;
}
.ta15 {
	height: 15em;
	border-radius: 3px;
}
.toggle-close {
	content: 'Cancel';
}
.attached-files {
	border: 1px #dcdcdc dashed;
	border-radius: 4px;
	background: #fafafa;
	padding: 2em 2.5em;
	margin: 0.5em 0.3em 1.4em 0;
	display: inline-block;
}
.attached-files ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.message {
	border-bottom: 1px #dcdcdc solid;
	margin-bottom: 1em;
}
.by-me {
	background: #fff;
}
.inb-user-from {
	line-height: 24px;
}
.content-text p {
	word-wrap: break-word;
	overflow-x: hidden;
}
/* Inbox page end */

/* Progress Bar */
progress[value]
{
	/* Override the default appearence */
	  -webkit-appearance: none;
		 -moz-appearance: none;
			  appearance: none;

	  /* Gets rid of the default border in Firefox and Opera. */ 
	  border: none;

	/* Dimensions */  
	width: 100%;
	height: 20px;  
  
	/* For IE10 only */
	color: #690;
  
	/* Firefox only (for container) */
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}
  
/* 
 * Webkit browsers only - Progress bar container
 * ---------------------------------------------
 */

progress[value]::-webkit-progress-bar 
{
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
	position: relative;
}

/* 
 * Webkit browsers only - Progress bar value
 * -----------------------------------------
 */

progress[value]::-webkit-progress-value 
{
	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
  
	position: relative;  

	-webkit-animation: animate-stripes 5s linear infinite;
			animation: animate-stripes 5s linear infinite;
}

/* 
 * Webkit browsers only - CSS3 keyframe animations
 * -----------------------------------------------
 */

@-webkit-keyframes animate-stripes { 100% { background-position: -100px 0px; } }
		@keyframes animate-stripes { 100% { background-position: -100px 0px; } }

/* 
 * Webkit browsers only - Pseudo elements
 * --------------------------------------
 */

progress[value]::-webkit-progress-value:after
{
	content: '';
	position: absolute;
  
	width: 6px;
	height: 6px;
	right: 7px;
	top: 7px;
  
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 1);
}

progress[value]::-webkit-progress-value:before
{
	position: absolute;
	right: 0;
	top: -125%;
}

/* 
 * Firefox only - Progress bar value
 * ---------------------------------
 */

progress[value]::-moz-progress-bar 
{
	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
  
	position: relative;
}

.progress-tag::-webkit-progress-value
{
	background-image:
		 -webkit-linear-gradient( 135deg, 
								  transparent, 
								  transparent 33%, 
								  rgba(0, 0, 0, .1) 33%, 
								  rgba(0, 0, 0, .1) 66%,
								  transparent 66%),
		 -webkit-linear-gradient( top, 
								  rgba(255, 255, 255, .25), 
								  rgba(0, 0, 0, .2)),
		 -webkit-linear-gradient( left, #09c, #f44); 
}

.progress-tag::-moz-progress-bar
{
	background-image:
		 -moz-linear-gradient( 135deg, 
							   transparent, 
							   transparent 33%, 
							   rgba(0, 0, 0, .1) 33%, 
							   rgba(0, 0, 0, .1) 66%,
							   transparent 66%),
		 -moz-linear-gradient( top, 
							   rgba(255, 255, 255, .25), 
							   rgba(0, 0, 0, .2)),
		 -moz-linear-gradient( left, #09c, #f44); 
}

.progress-bar 
{
	background-color: whiteSmoke;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25) inset;
  
	height: 20px;  
	width: 100%;
  
	position: relative;
}

.progress-bar span 
{
	background-color: blue;
	border-radius: 2px;
  
	display: block;

	height: 100%;
	text-indent: -9999px;
}

p.progress-percent 
{
	position: relative;
	line-height: 200%;
	margin: 0;
}

p.progress-percent:after
{
	content: attr(data-value) "%";
	position: absolute;
	right: 0;
}
/* Progress Bar end */

/* Params */
label.heading {
	line-height: 1.8em;
}
/* Params End */

/* New Deal Form */
.transparent-form {
	opacity: 0.2;
}
ul.info-tour {
	list-style: none;
}
ul.info-tour li {
	display: none;
}
ul.info-tour li:first-child {
	display: block;
}
.two-buttons-centered {
	margin-top: 5vh;
	display: inline-block !important;
	border: 20px rgba(33,33,33,.1) solid;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.fw-button-1 {
	width: 15em;
	margin-bottom: 0;
}
.mp-moreInfo-button {
	font-size: 1em !important;
	letter-spacing: 0.02em;
	margin-top: 10vh;
	margin-bottom: 0;
}
.mp-moreInfo-button:hover {
	color: #fff!important;
}
.i-bg-1 {
	background: #ebf3f9 url(../images/bk3-1.jpg);
}
.i-bg-2 {
	background: #ebf3f9 url(../images/bk3-2.jpg);
}
.has-large-video-bg {
	height: 70vh;
	overflow: hidden;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	/*background-image:-webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #000000)),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAO0lEQVQIW2NkYGCoB+JGIEYGPoxQHrKkD1BsC0wCJA+SPAsSBHGQJUAqjWHGwiTA2pGNBUkgC8IcUA8AyIQJ0q8OmSgAAAAASUVORK5CYII=");
	background-image:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,#000000 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAO0lEQVQIW2NkYGCoB+JGIEYGPoxQHrKkD1BsC0wCJA+SPAsSBHGQJUAqjWHGwiTA2pGNBUkgC8IcUA8AyIQJ0q8OmSgAAAAASUVORK5CYII=");
	background-image:-moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,#000000 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAO0lEQVQIW2NkYGCoB+JGIEYGPoxQHrKkD1BsC0wCJA+SPAsSBHGQJUAqjWHGwiTA2pGNBUkgC8IcUA8AyIQJ0q8OmSgAAAAASUVORK5CYII=");
	background-image:-o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,#000000 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAO0lEQVQIW2NkYGCoB+JGIEYGPoxQHrKkD1BsC0wCJA+SPAsSBHGQJUAqjWHGwiTA2pGNBUkgC8IcUA8AyIQJ0q8OmSgAAAAASUVORK5CYII=");
	background-image:radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,#000000 100%),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAO0lEQVQIW2NkYGCoB+JGIEYGPoxQHrKkD1BsC0wCJA+SPAsSBHGQJUAqjWHGwiTA2pGNBUkgC8IcUA8AyIQJ0q8OmSgAAAAASUVORK5CYII=");
	background-color:transparent;
	*/
	border-bottom: 4px #3483c2 solid;
}
.video-bg {
	position: absolute;
	width: 100%;
	height: 600px;
	height: 70vh;
	max-height: 1080px;
	top: 0;
	left: 0;

}
.mp-large-image-bg {
	  
}
.nd-large-image-bg {
	background: url(../res/newdealcover1.jpg) 0% fixed no-repeat; 
}
.mp-large-image-bg, .nd-large-image-bg {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	
}


.large-video-h1 {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	font-size: 1.25em;
}
.new-deal-video-bg {
	height: 600px;
	height: 81vh;
}
.has-large-video-bg video {
	width: 100%;
	height: 100vh;
	max-height: 1080px;
}
.has-large-video-textblock {
	padding: 16em 0;
	padding: 35vh 0;
}

form.new-deal, form.edit-deal {
	background: #f6f6f6;
	margin: 1em 0;
}
form.new-deal fieldset, form.edit-deal fieldset {
	margin: 0;
}
.work-area {
	position: relative;
	background: #fff;
}
.wa-h {
	min-height: 35.2vh;
}
.work-area-pad {
	padding: 16px 20px 40px;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.slideshow-wrapper img {
	width: 100%;
}
#slideshow-row{
	margin-top: 1em;
	margin-top: 8vh;
	padding: 1.5em 1em;
	position: relative;
	bottom: 18em;
	bottom: 31vh;
	width: 100%;
	min-height: 8em;
	/*background: transparent url("../images/transp_bg_1.png") repeat top left;*/
}
#empty-over-slideshow {
	position: absolute;
	width: 100%;
	height: 7em;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
}
.needs-more-info-slideshow {
	color: #fff;
	font-size: 1.6em;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.moreInfo-button, .start-slideshow-button {
	margin-top: 3vh;
}
.mp-moreInfo-button {
	color: #212121 !important;
}

@media only screen and (max-width: 1440px){
	.tb-s {
		width: 48em;
		margin-left: -24em;
	}
	.has-large-video-bg {
		height: 500px;
		height: 100vh;
	}
}

@media only screen and (max-width: 1360px){
	.tb-s {
		width: 42em;
		margin-left: -21em;
	}
	.has-large-video-bg {
		height: 400px;
		height: 100vh;
	}
	.has-large-video-textblock {
		padding: 12em 0;
	}
}
@media only screen and (max-width: 1280px){
	.tb-s {
		width: 38em;
		margin-left: -19em;
	}
}
@media only screen and (max-width: 1152px){
	.tb-s {
		width: 32em;
		margin-left: -16em;
	}
}
@media only screen and (max-width: 1028px){
	.tb-s {
		width: 26em;
		margin-left: -13em;
	}
	.side-bar {
		min-width: 240px;
		width: 240px;
	}
	.has-large-video-bg {
		height: 400px;
		height: 100vh;
	}
	.has-large-video-textblock {
		padding: 10em 0; 
	}
	.mp-moreInfo-button {
		width: 14em;
		margin: 8vh auto 0;
	}
	.top-bar-fixed.tb-sa .top-bar-search-activate {
		margin: 0;
	}
	.top-bar-fixed.tb-sa {
		height: 5.2em;
	}
	.top-bar-fixed.tb-sa .top-bar-search input {
		font-size: 1.5em;
		border-bottom: 1px #eee solid;
	}
	.wa-h {
		min-height: 20vh;
	}
}

@media only screen and (max-width: 768px){
	.top-bar-abs {
		background: rgba(52,131,194,.97);
	}
	.tb-notifications {
		margin: 0 0.5em 0 0;
	}
	.side-bar .sb-nav a {
		max-width: 238px;
	}
	.sb-nav .right {
		margin: 0 16px 0;
	}
	.paper-menu {
		min-width: 290px;
		line-height: 1.2 !important;
	}
	.pm-dropdown.tb-dropdown-active .paper-menu {
		top: 5px;
	}
	#fb-like-wrapper {
		bottom: 50%;
		left: 50%;
		width: 300px;
		height: 120px;
		margin-left: -150px;
		margin-bottom: -60px;
	}
}

@media only screen and (min-width: 768px){
	.joyride-tip-guide{
		width:470px;
	}
}

.wants-job-helper-art {
	position: absolute;
	top: -33px;
	left: 246px;
	width: 277px;
	height: 102px;
	background: url(../images/job-q-art3.png) no-repeat center 0;
}
.is-jobseeker-art {
	left: 190px;
}
.fs1em {
	font-size: 1em;
}
.thumb-121x55 img {
	width: 121px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#photo-upload-container {
	display: none;
}
.upload-container {
	display: block;
}
.dropzone {
	background: transparent;
}
.dropzone.in {
	content: "Drop files";
	background: #fafafa;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 0.8;
}
.dropzone.hover {
	background-color: lawngreen;
}
.dropzone.fade {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}
.dragndrop {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	text-align: center;
	font-weight: bold;
	border: 2px #dcdcdc dashed;
	background: #fafafa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.dragndrop-hover {
	width: 100%;
	height: 100%;
	padding-top: 4em;
}
.plupload_container {
	min-height: 140px;
	position: relative;
}
.plupload_dropbox {
	min-height: 10em;
	width: 100%;
}
.plupload_content {
	overflow-y: hidden;
}
.plupload_started {
	display: none;
	font-weight: bold;
}
.plupload_file {
	width: 300px;
	height: 150px;
}
.slick-slide.plupload_file img {
-webkit-object-fit: cover;
-moz-object-fit: cover;
-o-object-fit: cover;
object-fit: cover;
width: 300px;
height: 150px;
}
.plupload_content .plupload_file {
	width: 200px;
}
.plupload_file_thumb {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
}
.plupload_file_thumb a {
	display: block;
	width: 100%;
	height: 100%;
}
.plupload_content .plupload_file_thumb img {
	min-width: 100%;
}
.plupload_file_dummy {
	background: #e0e0e0;
	color: #232323;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 150px;
}
.plupload_file_dummy a {
	width: 100%;
	height: 100%;
	display: block;
}
.plupload_content .plupload_file_dummy  {
	line-height: 100px;
}
.thumb-file-action {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: #000;
	border-left: 1px #fff solid;
	border-bottom: 1px #fff solid;
	cursor: pointer;
}
.thumb-file-action-icon {
	width: 16px;
	height: 16px;
	display: block;
	margin: 2px auto;
	color: #fff;
}
.plupload_file_progress {
	background: #00659f;
	height: 5px;
	border-top: 1px #fff solid;
	position: absolute;
}
.plupload_file_name {
	text-align: left;
	padding-top: 3px;
	font: bold 11px Verdana,sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 6px 0 0 6px;
}
.plupload_file_percent {
	display: none;
}
.plupload_file_name:hover {
	cursor: text;
}
.plupload_file_size {
	padding: 0 0 6px 6px;
	text-align: left;
	font: normal 11px Verdana,sans-serif;
}
.plupload_filelist_content {
	list-style: none;
}
.plupload_view_thumbs .plupload_file {
	margin: 10px 5px 10px 18px;
	float: left;
	overflow: hidden;
	list-style: none;
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 12px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	max-height: 150px;
}
.plupload_view_thumbs .plupload_file:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.plupload_file_thumb {
	width: 300px;
	height: 150px;
}
.plupload_content .plupload_file_thumb {
	width: 200px;
	height: 100px;
}
.plupload_file_thumb:hover {
	opacity: 0.6;
	transition: .15s;
}
.plupload_content .plupload_file_thumb:hover {
	cursor: move;
}
#plupload_console {
	background: #ff4444;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	display: none;
}
.plupload_clearer:before, .plupload_clearer:after {
	clear: both;
	content: " ";
	display: table;
}
/* New Deal Form end */

/* Categories page */
.cat-central img {
	width: 100%;
	display: block;
}
.cat-central-text {
	position: absolute;
	z-index: 2;
	top: 1em;
	top: 15vh;
	left: 0;
	width: 100%;
}
.cat-central-text h1 {
	color: #5d5d5d;
	font-weight: 500;
}
.cat-central-text h2 {
	color: #5d5d5d;
	font-weight: 500;
	font-size: 1em;
}
.cat-central-search {
	position: absolute;
	z-index: 2;
	width: 100%;
	right: 0;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.cat-central-search label {
	color: #fff;
}
.lh16 {
	line-height: 1.6em;
}
.recent-suggestions ul {
	list-style: none;
}
/* Categories page end */

/* Search page */
.search-result-title h1, .search-result-title h2 {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	font-weight: normal;
}
/* Search page end */

/* Balance page */
.round-box {
	background: #2ba6cb;
	border-radius: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
}
/* Balance page end */

/* Track Order page */
.track-avatar {
	width: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 0.2em;
	display: inline-block;
}
.ml1px {
	margin-left: 1px;
}
.panel {
	line-height: 1.3;
}
.panel-button {
	border-left: 1px #d9d9d9 solid;
	border-top: 1px #d9d9d9 solid;
	border-right: 1px #d9d9d9 solid;
}
.panel-mission-message {
	background: #2ba6cb;
	line-height: 1.3;
}
.panel-mission-deliveryok {
	background: #5da423;
}
.white {
	color: #fff;
	fill: #fff;
}
a.white:hover, a.white:visited {
	color:#e7e7e7;
}
.message-type {
	position: relative;
	top: 1px;
	line-height: 1.8em;
}
.problem-helper-art {
	position: absolute;
	top: -16px;
	right: -16px;
	z-index: 2;
	cursor: pointer;
}
/* Track Order page end */

/* Orders Page */
.touch-tab {
	display: block;
	height: 4em;
	padding-top: 0.5em;
	border-top: 1px transparent solid;
}
.talltab-active, .talltab-hover a:hover {
	border-top: 1px #eee solid;
	background: #f8f8f8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 8px 8px rgba(0,0,0,.28);
}
.talltab-red {
	background: #c60f13;
	color: #fff;
}
.reqs-helper-art {
	position: absolute;
	top: -1px;
	left: 85px;
	width: 380px;
	height: 85px;
	background: url(../images/reqs-q-art.png) no-repeat center 0;
	z-index: 2;
}
.odp-search input {
	height: 3em;
	line-height: 1em;
}
/* Orders Page end */

/* Suggest Work */
.wants-work-helper-art {
	position: absolute;
	top: -28px;
	left: -257px;
	width: 253px;
	height: 98px;
	background: url(../images/work-q-art.png) no-repeat center 0;
}
/* Suggest Work end */

/* FAQ page */
.faq {
	list-style: none;
	font-size: 0.85em;
	font-family: "Mxedruli", sans-serif !important;
}
.faq li>a {
	margin: 10px 0;
	font-size: 1.1em;
}
.faq li>div {
	display: none;
	padding: 15px;
	background: rgba(173, 204, 229, 0.25);
	border-radius: 5px;
	border: 1px solid rgba(118, 156, 194, 0.26);
	color: #3F4B64;
}
.faq li>div h4 {
	font-size: 1.1em;
	font-family: "Mxedruli", sans-serif !important;
	margin: 15px 0;
	color: #3F4C67;
}
.faq li>div>p {
	margin: 0;
}
.faq li>div ul {
	margin: 15px 0 15px 30px;
	list-style: none;
}
.faq li>div ul.no-margin {
	margin: 0;
	list-style: none;
}

.faq li>div ul.check li:before {
	content: "\f00c";
	font-family: 'FontAwesome';
	margin-right: 7px;
	color: green;
}
.lh25 {
	line-height: 2.5em;
}
/* FAQ page end */

/* User Profile Page */
.user-desc {
	max-height: 10em;
	overflow: hidden;
	transition: max-height .4s .15s ease;
}
.user-desc:hover {
	transition: max-height .4s .4s ease-in-out;
	max-height: 100em;
}
blockquote.up-rev-text {
	font-family: "Mxedruli", sans-serif;
	font-size: 1.6em;
	font-weight: 600;
	color: #757575;
	border: 0;
	padding: 1.5em 2.5em;
	quotes: none;
	position: relative;
}
.up-exp-logo {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: rgba(93,164,35,.97) url(../images/ic_school_white.svg) no-repeat 50% 45%;
	border-radius: 50%;
	background-size: 40px;
}
.up-exp-title {
	font-family: "Mxedruli", Sylfaen;
	margin-top: 1.2em;
}
.up-exp-title span {
	margin-left: 0.7em;
}
.up-portfolio-feat {
	min-height: 264px;
	background-size: cover;
	background-repeat: no-repeat;
}
.up-portfolio-bk {
	background-size: cover;
	background-repeat: no-repeat;
}
.up-work-area-has-feat {
	top: -100px;
}
.up-main-wrapper .deal-card {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
.user-portfolio .plupload_file {
	margin: 10px 35px 25px 30px;
}
.up-portfolio-wrapper {
	max-height: 176px;
	overflow: hidden;
}
.up-portfolio-wrapper .slick-slider {
	width: 95%;
	margin: 0 auto;
}
.up-rev-wrapper blockquote:before, .up-rev-wrapper blockquote:after {
	content: '';
	display: block;
	width: 87px;
	height: 76px;
	background: center no-repeat;
	position: absolute;
}
.up-rev-wrapper blockquote:before {
	background-image: url('../images/bg-blockquote-open.png');
	left: 1em;
	top: 0;
}
.up-rev-wrapper blockquote:after {
	background-image: url('../images/bg-blockquote-close.png');
	right: 1em;
	bottom: 0;
}
blockquote.up-rev-text i {
	color: #ccc;
	margin-right: 0.3em;
}
.up-rev-user {
	font-family: "Mtavruli", sans-serif;
	font-weight: 600;
	color: #757575;
	margin: 1em 3.3em;
	opacity: 0.5;
	-webkit-transition: opacity .15s ease-out;
	-moz-transition: opacity .15s ease-out;
	transition: opacity .15s ease-out;
}
.up-rev-wrapper:hover .up-rev-user {
	opacity: 1;
}
.up-rev-user img {
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 0.7em;
}
.up-allow-edit {
	position: relative;
}
.up-edit {
	opacity: 0;
	position: absolute;
	top: -1.2em;
	right: 3em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	border: 0 none;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
	transition: .15s;
	z-index: 2;
	transition-delay: 0.4s;
}
.up-allow-edit:hover .up-edit {
	opacity: 1;
	transition-delay: 0s;
}
.up-edit:hover {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
/* User Profile Page end */

/* Find a Freelancer (Suggested page) */
.fr-wrapper h1 {
	color: #fff;
	font-weight: 500;
	margin: 10% 0 0;
}
.fr-searching h1 {
	margin-top: 1.4em;
	font-size: 1em !important;
}
.fr-wrapper h2 {
	color: #fff;
	font-weight: 400;
	margin-bottom: 1.4em;
}
.fr-search-icon svg {
	fill: #d0d0d0;
}
.fr-search-icon:hover svg {
	fill: #005c9b;
	transition: .3s;
}
.fr-why-hl {
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	font: 400 1.2em/60px sans-serif;
	background: #3483c2;
	color: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.fr-why-txt {
	font: 400 1em/60px "Mxedruli", Sylfaen;
}
.fr-has-tip {
	height: 60px;
	overflow: hidden;
	position: relative;
}
.fr-tip {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transform: translateY(-160px);
	transform: translateY(-160px);
}
.fr-has-tip:hover, .fr-hiw-txt {
	font: 400 .9em/1.3em "Mxedruli", Sylfaen;
}
.fr-hide-on-tip:after {
	display: inline-block;
	content: "\f059";
	font-family: "FontAwesome";
	color: #d0d0d0;
	margin-left: .2em;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.fr-has-tip:hover .fr-hide-on-tip {
	position: absolute;
	-webkit-transform: translateY(62px);
	transform: translateY(62px);
	transition: .3s;
}
.fr-has-tip:hover .fr-tip {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	transition: transform .3s;
}
.fr-hiw-title {
	font: 800 1em/1em "Mxedruli", Sylfaen;
	display: block;
	margin-bottom: 1.4em;
}
.fr-hiw-icon {
	width: 60px;
	height: 60px;
	display: block;
	margin: .7em auto 1.4em;
	background: #f48000;
	border-radius: 50%;
	line-height: 67px;
}
.fr-hiw-icon svg {
	fill: #fff;
}
.fr-rev-author {
	font: 400 1em "Mxedruli", Sylfaen;
	text-align: center;
}
.fr-rev-author img {
	margin-bottom: .7em;
}
.fr-rev .up-rev-text {
	font-size: 1em;
}
.fr-search-bottom-wrapper {
	width: 100%;
	background: #e1edf6;
}
.fr-search-bottom-wrapper .fr-text-field {
	font: 400 1.25em/1.25em "Mxedruli",Sylfaen !important;
}
.fr-search-bottom-wrapper .fr-search-icon {
	top: .6em;
}
.fr-remove-filter {
	margin-right: 1.4em;
}
.fr-remove-filter i {
	width: 12px;
	display: inline-block;
}