.sup {
	position: relative;
	top: -7px;
	left: 3px;
}

.f1 {
	font-size: 1em;
}

.exp-h, .exp-error, .txt-highlight {
	padding: 0.2em 0.5em;
	color: #fff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	@include vertical-align;
}
.exp-h, .txt-highlight {
	display: inline-block;
	background: #757575;
}
.txt-highlight.red {
	background: #ff4444;
	margin: 2px 0;
}
.exp-error {
	font-family: Mxedruli, Sylfaen;
	font-size: 0.9em;
	background: #ff4444;
	margin-bottom: 0.2em;
}
.exp-error a {
	color: #fff;
	text-decoration: underline;
}
.exp-error-shown {
	display: inline-block;
}
.ac-wrapper {
	position: relative;
}
.ac-wrapper .geo-box-span {
	top: 5px;
}
.ac-container {
	position: absolute;
	display: none;
	top: 37px;
	left: 0;
	z-index: 3;
	background: #fff;
	border: 1px #757575 solid;
	border-top: 0 none;
	font-family: "Mxedruli", sans-serif;
	line-height: 1.5em;
	width: 100%;
	min-height: 9em;
	max-height: 19em;
	overflow-x: hidden;
	overflow-y: auto;
}
.ac-container-show {
	display: block;
}
a.ac-row {
	display: block;
	padding: 0.5em 1em;
}
a.ac-row:first-child {
	margin-top: 0.7em;
}
a.ac-row img {
	margin-right: 0.7em;
}
.ac-row:hover,.ac-row-hover {
	background: #f4f3f2;
	transition: .15s;
}
input.auto-complete::-webkit-input-placeholder {
	color: #AAA;
}
input.auto-complete:-moz-placeholder {
	color: #fff;
}
input.auto-complete::-moz-placeholder {
	color: #fff;
}
input.auto-complete:-ms-input-placeholder {
	color: #fff;
}
input.auto-complete:focus::-webkit-input-placeholder {
	color: #ccc;
}
input.auto-complete:focus:-moz-placeholder {
	color: #757575;
}
input.auto-complete:focus::-moz-placeholder {
	color: #757575;
}
input.auto-complete {
	font-size: 1em;
	font-family: "Mxedruli", sans-serif;
}
input.auto-complete:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transition: .15s;
	background: #757575;
	color: #fff;
}
.experience-col {
	padding: 0.5em 1em;
	margin: 1em 0.9em 3.4em;
	border: 1px #757575 solid;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	height: 106px;
	overflow: hidden;
	-webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 3px 4px 10px rgba(0,0,0,.15);
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	-ms-transition: .3s ease-out;
	transition: .3s ease-out;
}
.experience-col img {
	display: block;
	margin: 0 auto;
}
.exp-empty {
	opacity: 0.3;
}
.exp-queue {
	opacity: 0.75;
	transition: .4s;
}
.exp-active {
	opacity: 1;
	background: #757575 !important;
	color: #fff !important;
}
.exp-active:before {
	content:"\f062";
	font-family: "FontAwesome";
	font-size: 2.2em;
	display: block;
	margin-bottom: 0.5em;
}
.exp-queue:hover {
	opacity: 1;
	cursor: pointer;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.exp-chosen {
	opacity: 1;
	background: rgba(93,164,35,0.15);
}

.sp-get-bonus-msg {
	display: inline-block;
	font-family: "Mxedruli", Sylfaen;
	margin: 0.2em 0 1.5em;
	padding: 0.7em;
	background: rgba(93,164,35,.97);
	color: #fff;
	border-radius: 2px;
}

.sp-sb-highlight svg {
	fill: #5da423;
}
li.sp-sb-highlight a:hover, .sp-sb-highlight a.wa-sb-active {
	border-left: 2px #5da423 solid;
}

/* Circle Progress Indicator */
#circle-progress {
	width: 76px;
	height: 76px;
	display: inline-block;
	margin-bottom: 8px;
	position: relative;
}

.cp-text {
	position: absolute;
	width: 100%;
	line-height: 76px;
	text-align: center;
	font: bold 0.9em/76px "Mtavruli", Sylfaen;
}

.cp-total-circle {
	position: absolute;
	width: 76px;
	height: 76px;
	border-width: 3px;
	border-style: solid;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: #e5e5e5;
}

.cp-progress-wrapper {
	position: absolute;
	width: 76px;
	height: 76px;
	clip: rect(0px, 76px, 76px, 38px);
}
.cp51-100 {
	clip: rect(auto, auto, auto, auto);
	transition: .4s;
}

.cp-progress {
	position: absolute;
	width: 76px;
	height: 76px;
	border-width: 3px;
	border-style: solid;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: #5da423;
	clip: rect(0px, 38px, 76px, 0px);
}
.cp-rh {
	transition: .2s;
}
.cp-lh {
	transition: .4s;
}
