:root input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* Material Design Toggle Button */

.togglebutton label {
  font: bold 1em/1 "Mxedruli", Sylfaen;
}

.toggle {
  content: "";
  display: inline-block;
  width: 40px;
  height: 15px;
  background-color: rgba(80,80,80,.7);
  border-radius: 15px;
  margin-right: 10px;
  transition: background .3s ease;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
}
.toggle.disabled, .togglebutton label input[disabled]+.toggle {
  background-color: rgba(80,80,80,.2);
}

.toggle:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f1f1f1;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
  left: -10px;
  top: -2px;
  transition: left .3s ease,background .3s ease,box-shadow .1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle.disabled:after, .togglebutton label input[disabled]+.toggle:after {
  background-color: #c6c6c6;
  box-shadow: none;
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
  left: 12px;
}

.togglebutton label input[type=checkbox]:checked+.toggle, .togglebutton-default label input[type=checkbox]:checked+.toggle {
  background-color: rgba(0,150,136,.5);
}

.togglebutton label input[type=checkbox]:checked+.toggle:after, .togglebutton-default label input[type=checkbox]:checked+.toggle:after {
  background-color: #009688;
}