	<div class="footer">
        <p class="bug-report">
    	<a href="mailto:s.megrelishvili@gmail.com" target="_blank" id="footer_bug_tracking">By Shota Megrelishvili</a>
    	</p>

        <p class="legality">
            Copyright &copy; 2014 Shota Megrelishvili<br />
            All Rights Reserved.
        </p>
        
	</div>

</div>

</body>
</html>
