{if $smarty.get.print}
  <link href="{$baseurl}/css/main.css{insert name=file_version value="css/main.css"}" media="screen" rel="stylesheet">
{else}
<div class="crumbs">
  <ul class="row collapse heading">
    <li><a href="{$baseurl}/">{$lang0}</a>
    <li><a href="{$baseurl}/agreement?{if $smarty.get.order}order={$smarty.get.order}{else}item={$smarty.get.item}{/if}" class=current>მომსახურების ხელშეკრულება</a>
  </ul>
</div>
{/if}
{if !$insert_into_db}
<div class="row mt20">
  <div class="large-9 small-9 columns">
    <h1 class="heading mb0">მომსახურების ხელშეკრულება</h1>
    <h2 class="subheading mb0">ხელშეკრულება დამსაქმებელსა და მომსახურების მიმწოდებელს შორის</h2>
  </div>
  <div class="large-3 small-3 columns subheading tcenter">{if !$smarty.get.print}{if !$order.time_added}<span class="label alert round">წინასწარი ვერსია</span>{else}<span class="label success round">მოქმედი ხელშეკრულება</span>{/if}
  <a href="{$baseurl}/agreement?{if $smarty.get.order}order={$smarty.get.order}{else}item={$smarty.get.item}{/if}&amp;print=1" class="mt5 button empty radius"><i class="icon-print"></i> საბეჭდი ვერსია</a>{/if}</div>
</div>
{/if}
{if $agreement_txt}
  {$agreement_txt}
{else}
<div class="row mt10">
  <div class="large-12 columns subheading">
    <p>
    მომსახურების ხელშეკრულების მხარეები შეიძლება იყვნენ ფიზიკური და იურიდიული პირები, აგრეთვე პირთა გაერთიანებებიც.
    <br>
    მომსახურების ხელშეკრულება იდება ელექტრონული ფორმით.<br>
    მომსახურების ხელშეკრულება შეიძლება დაიდოს ნებისმიერი კანონით აუკრძალავი მომსახურების გაწევაზე.<br>
    შენიშვნა: მომსახურების ხელშეკრულებასთან დაკავშირებულ საკითხებს არეგულირებს საქართველოს სამოქალაქო კოდექსი.<br>
    წინამდებარე ხელშეკრულება, მიღება-ჩაბარების ფორმა და ხელმოწერები ხორციელდება შუამავლის მიერ დადგენილი წესის მიხედვით.
    </p>
    <h2 class="heading">1. ხელშეკრულების მხარეები</h2>
    <p class="mt20">
      1.1 ერთის მხრივ <u>{if $order.time_added}{$side_order.fullname}{else}________{/if}</u> პირადი/რეგისტრაციის ნომრით: <u>{if $order.time_added}{$side_order.pin}{else}________{/if}</u> (შემდგომში - შემკვეთი) და მეორეს მხრივ <u>{if $order.time_added}{$side_post.fullname}{else}________{/if}</u> პირადი/რეგისტრაციის ნომრით: <u>{if $order.time_added}{$side_post.pin}{else}_________{/if}</u> (შემდგომში - შემსრულებელი){* მესამე მხრივ - ინტერნეტ-საიტის http://iDo.ge და მისი სახით წარმოდგენილი პლატფორმის (შემდგომში - შუამავალი) საშუალებით*} ნების თავისუფალი გამოვლენის საფუძველზე ვდებთ წინამდებარე ხელშეკრულებას პარაგრაფ 2-ში მოყვანილ საგანზე.<br>
      1.2 ხელშეკრულების მხარეებს შორის შუამავლობას ეწევა ვებ-გვერდი http://iDo.ge (შემდგომში შუამავალი/პლატფორმა) პუნქტ 4.2 განსაზღვრული ანაზღაურების სანაცვლოდ.
    </p>
    <h2 class="heading">2. ხელშეკრულების საგანი</h2>
    <p class="mt20">
      2.1 მომსახურების ხელშეკრულებით შემსრულებელი კისრულობს ვალდებულებას გასწიოს პუნქტი 2.3 განსაზღვრული მომსახურება პუნქტი 4.3 შეთანხმებული საზღაურის სანაცვლოდ.<br>
      2.2 შემკვეთი ვალდებულია გადაიხადოს პუნქი 4.1 შეთანხმებული საფასური.<br>
      2.3 წინამდებარე ხელშეკრულების საგანს წარმოადგენს შემკვეთის დავალებით, შეთანხმებული ანაზღაურების სანაცვლოდ, შემსრულებლის მიერ შემდეგი სახის მომსახურების გაწევა: {$side_post.gdesc} (შემდგომში - მომსახურების პროდუქტი)
    </p>
    <h2 class="heading">3. მომსახურების წესი</h2>
    <p class="mt20">
      3.1 შემსრულებელი ვალდებულია მომსახურება გაწიოს პირადად.<br>
      3.2 შემკვეთი ვალდებულია წინამდებარე ხელშეკრულების გაფორმებიდან {$params.provide_instructions_days} დღის ვადაში მიაწოდოს შემსრულებელს მომსახურების გასაწევად საჭირო დეტალური ინფორმაცია-ინსტრუქცია.<br>
      3.3 შემსრულებელი ვალდებულია მომსახურება გაწიოს წინამდებარე ხელშეკრულების პუნქტი 3.2 მოწოდებული ინსტრუქციის შესაბამისად, აღნიშნული ინფორმაცია-ინსტრუქციის მოწოდებიდან {if $side_post.days == 0}1{else}{$side_post.days}{/if} დღის ვადაში.<br>
      3.4 წინამდებარე ხელშეკრულებით დაკისრებული ვალდებულებების შესრულება რეგულირდება მომსახურების მიღება-ჩაბარების ფორმის ელექტრონული ხელმოწერით.
    </p>
    <h2 class="heading">4. მომსახურების ღირებულება და ანგარიშსწორების წესი</h2>
    <p class="mt20">
      4.1 შესასრულებელი სამუშაოს სრული ანაზღაურება შეადგენს {$side_post.price|@string_format:"%.2f"} ლარს.<br>
      4.2 შუამავლის შემოსავალი, რომელსაც შუამავალი აკავებს საკომისიოს სახით პუნქტი 4.1 აღნიშნული თანხიდან, შეადგენს {$side_post.ctp|@string_format:"%.2f"} ლარს.<br>
      4.3 შემსრულებელის შემოსავალი, რომელსაც შემსრულებელი იღებს 4.1 პუნქტში აღნიშნული თანხიდან, შეადგენს {($side_post.price - $side_post.ctp)|@string_format:"%.2f"} ლარს.<br>
      4.4 ხელშეკრულების გაფორმების მომენტში პუნქტი 4.1 განსაზღვრული სრული თანხა შუამავლის დავალებით იბლოკება შემკვეთის ელექტრონულ საფულეზე გადახდების ელექტრონულ სისტემაში http://eMoney.ge.<br>
      4.5 პუნქტი 3.4 მოყვანილი მიღება-ჩაბარების ელექტრონული ხელმოწერიდან, არაუგვიანეს შემდეგი კალენდარული თვის 20 რიცხვისთვის, შემკვეთის ანგარიშიდან მოხდება პუნქტი 4.2 და 4.3 მოყვანილი თანხების ჩამოწერა და შუამამვლის და შემსრულებლის ელექტრონულ საფულეზე უნაღდო ანგარიშსწორების წესით ჩარიცხვა გადახდების ელექტრონულ სისტემაში http://eMoney.ge.
    </p>
    <h2 class="heading">5. უფლებრივად და ხარისხობრივად უნაკლო მომსახურების პროდუქტის წარდგენის ვალდებულება</h2>
    <p class="mt20">
      5.1 შემსრულებელი ვალდებულია წარუდგინოს შემკვეთს უფლებრივად და ხარისხობრივად უნაკლო მომსახურების პროდუქტი.<br>
      5.2 მომსახურების პროდუქტი ითვლება უნაკლოდ, თუ ის ზედმიწევნით შეესაბამება პუნქტში 2.3 აღწერილ მომსახურებას.<br>
      5.3 მომსახურების პროდუქტის გადაცემისას ფორმდება პუნქტი 3.4 შესაბამისი მიღება-ჩაბარების ელექტრონული ფორმა, რომლის ხელმოწერითაც ხელშეკრულებით გათვალისწინებული შემსრულებლის ვალდებულება ითვლება შესრულებულად და არ ექვემდებარება შემდგომ გასაჩივრებას.<br>
    </p>
    <h2 class="heading">6. შესრულებული მომსახურების (მომსახურების პროდუქტის) მიღება-ჩაბარება</h2>
    <p class="mt20">
      6.1 შემკვეთი მოვალეა, მიიღოს შესრულებული მომსახურების პროდუქტი (პუნქტი 2.3 შესაბამისად), თუ ის შესაბამისობაშია ხელშეკრულების პირობებთან.<br>
      6.2 შემსრულებელი პუნქტი 3.3 პირობის შესაბამისად ატყობინებს შემკვეთს შესრულებული სამუშაოს შესახებ შუამავლის პლატფორმის გამოყენებით და სთავაზობს მას მიღება-ჩაბარების ფორმის ხელმოწერას.<br>
      6.3 პუნქტი 6.2 შესრულებიდან შემკვეთს ეძლევა {$params.review_period} კალენდარული დღის ვადა, იმისათვის რომ შეამოწმოს შესრულებული მომსახურების პროდუქტის ხარისხი და პუნქტი 2.2-თან შესაბამისობა.<br>
      6.4 პუნქტი 6.3 ვადის განმავლობაში შემკვეთს აქვს უფლება უარი განაცხადოს შესრულებული მომსახურების პროდუქტის მიღებაზე და მოთხოვოს შემსრულებელს ხარვეზების გამოსწორება.<br>
      6.5 პუნქტი 6.3 ვადის ამოწურვის შემდეგ, თუ შემკვეთმა არც მიიღო და არც უარი განაცხადა მომსახურების პროდუქტის მიღებაზე, მომსახურება ჩაითვლება უნაკლოდ გაწეულად და წინამდებარე ხელშეკრულებით განსაზღვრული შემსრულებლის ვალდებულებები ჯეროვნად შესრულებულად.<br>
      6.6 პუნქტი 6.4 შესაბამისად მომსახურების პროდუქტის დაწუნების შემთხვევაში:<br>
      6.6.1 შემკვეთი ვალდებულია დეტალურად აღწეროს დაწუნების მიზეზი;<br>
      6.6.2 შემსრულებელს ეძლევა {$revision_period} დღე ხარვეზების გამოსასწორებლად და მომსახურების პროდუქტის ხელახლა ჩასაბარებლად.<br>
    </p>
    <h2 class="heading">7. ხელშეკრულების შეწყვეტის პირობები</h2>
    <p class="mt20">
      7.1 წინამდებარე ხელშეკრულების შეწყვეტა შესაძლებელია შემდეგ შემთხვევებში:<br>
      7.1.1 შემკვეთის მიერ პუნქტი 3.2 გათვალისწინებული მოთხოვნის დაუცველობა ავტომატურად იწვევს წინამდებარე ხელშეკრულების უპირობო შეწყვეტას.<br>
      7.1.2 პუნქტი 3.3 დარღვევის შემთხვევაში, წინამდებარე ხელშეკრულება ავტომატურად შეწყდება ამავე პუნქტში მოყვანილი ვადის გასვლისთანავე.<br>
      7.1.3 წინამდებარე ხელშეკრულების შეწყვეტა დასაშვებია შემკვეთის და შემსრულებლის ურთიერთშეთანხმებით, მისი მოქმედების ნებისმიერ მომენტში.<br>
      7.1.4 წინამდებარე ხელშეკრულების შეწყვეტა დასაშვებია ერთპიროვნული გადაწყვეტილებით, როგორც შემკვეთის, ასევე შემსრულებლის, ან შუამავლის ინიციატივით.<br>
      7.2 წინამდებარე ხელშეკრულების ნებისმიერი აღწერილი, ან განსხვავებული მიზეზით შეწყვეტა იწვევს ყველა მონაწილე მხარეს ნაკისრი ვალდებულებისაგან სრულად განთავისუფლებას გარდა შემდეგი შემთხვევებისა:<br>
      7.2.1 შემსრულებლის მიერ სამუშაოს წინასწარი ჩაბარების შემდეგ, თუ შემკვეთმა მოიწონა სამუშაოს შედეგის წინასწარი ვერსია, შემკვეთის მიერ სამუშაოს დაწუნება და/ან არ მიღება, ასევე, ხელშეკრულების ერთპიროვნული შეწყვეტა, არ უხსნის შემკვეთს პუნქტი 2.2 განსაზღვრული ანაზღაურების გადახდის ვალდებულებას.<br>
      {if $order.moneyback}
      {else}
      7.2.2 შემსრულებლის მიერ სამუშაოს სრულად ჩაბარების შემდეგ, შემკვეთის მიერ სამუშაოს დაწუნება და/ან არ მიღება, ასევე, ხელშეკრულების ერთპიროვნული შეწყვეტა, არ უხსნის შემკვეთს პუნქტი 2.2 განსაზღვრული ანაზღაურების გადახდის ვალდებულებას.<br>
      {/if}
      7.2.3 ზევითაღნიშნული შემთხვევ(ებ)ის დადგომიდან, არაუგვიანეს 10 დღის ვადაში შემკვეთის მხრიდან წერილობითი საჩივარის შემოსვლის საფუძველზე, პუნქტი 4.4 განსაზღვრული დაბლოკილი თანხის დაბრუნების საკითხი წყდება ინდივიდუალურად, შუამავლის ერთპიროვნული გადაწყვეტილების საფუძველზე 5 სამუშაო დღის ვადაში და არ ექვემდებარება გასაჩივრებას ნებისმიერი ფორმით ნებისმიერ ინსტანციაში.<br>
      7.3 წინამდებარე ხელშეკრულების ნებისმიერი აღწერილი, ან განსხვავებული მიზეზით შეწყვეტისას, გარდა პუნქტი 7.2 აღწერილი შემთხვევებისა, პუნქტი 4.4 განსაზღვრული დაბლოკილი თანხა სრულად თავისუფლდება ბლოკირებისაგან და უბრუნდება შემკვეთს მის ელექტრონულ საფულეზე გადახდების ელექტრონულ სისტემაში http://eMoney.ge თანხის დაბლოკვიდან არაუგვიანეს {$escrow_days} კალენდარული დღისა.<br>
      7.4 პუნქტი 7.3 თანხის დაბრუნების ვადა შესაძლოა გაიზარდოს შუამავლის გადაწყვეტილებით იმ შემთხვევაში, თუ შემკვეთს არ აქვს გავლილი ვერიფიკაცია eMoney-ს სისტემაში.
    </p>
    <h2 class="heading">8. ფორს–მაჟორი</h2>
    <p class="mt20">
      8.1 ხელშეკრულების პირობების ან რომელიმე მათგანის მოქმედების შეჩერება ფორს-მაჟორული გარემოებების დადგომის გამო არ იქნება განხილული, როგორც ხელშეკრულების პირობების შეუსრულებლობა ან დარღვევა და არ გამოიწვევს საჯარიმო სანქციების გამოყენებას.<br>
      8.2 ამ მუხლის მიზნებისათვის „ფორს-მაჟორი“ ნიშნავს მხარეებისათვის გადაულახავ და მათი კონტროლისაგან დამოუკიდებელ გარემოებებს, რომლებიც არ არიან დაკავშირებული შემკვეთის ან/და შემსრულებლის შეცდომებსა და დაუდევრობასთან და რომლებსაც გააჩნია წინასწარ გაუთვალისწინებელი ხასიათი.<br>
      8.3 ფორს-მაჟორული გარემოებების დადგომის შემთხვევაში ხელშეკრულების დამდებმა მხარემ, რომლისთვისაც შეუძლებელი ხდება ნაკისრი ვალდებულებების შესრულება, დაუყოვნებლივ უნდა გაუგზავნოს მეორე მხარეს წერილობითი შეტყობინება ასეთი გარემოებების და მათი გამომწვევი მიზეზების შესახებ. თუ შეტყობინების გამგზავნი მხარე არ მიიღებს მეორე მხარისაგან წერილობით პასუხს, იგი თავისი შეხედულებისამებრ, მიზანშეწონილობისა და შესაძლებლობისდა მიხედვით აგრძელებს ხელშეკრულებით ნაკისრი ვალდებულებების შესრულებას და ცდილობს გამონახოს ვალდებულებების შესრულების ისეთი ალტერნატიული ხერხები, რომლებიც დამოუკიდებელნი იქნებიან ფორს-მაჟორული გარემოებების ზეგავლენისაგან.
    </p>
    <h2 class="heading">9. დავა</h2>
    <p class="mt20">
      9.1 მხარეთა შორის წარმოშობილი დავა წყდება ურთიერთშეთანხმებით. შეთანხმების მიუღწევლობის შემთხვევაში, წინამდებარე ხელშეკრულება ექვემდებარება შეწყვეტას და დავას განიხილავს შუამავალი, რომლის პრეროგატივაა გამოიყენოს მის ვებ-გვერდზე http://iDo.ge ადმინისტრაციული სადამსჯელო ღონისძიება, რაც მოიცავს საიტის ადმინისტრაციის გადაწყვეტილებით ხელშეკრულების ერთ-ერთი მხარის მომხმარებლის რეიტინგის დაქვეითებას, დროებით ან სრულ ბლოკირებას.
    </p>
    <h2 class="heading">10. ხელშეკრულების, მიღება-ჩაბარების ფორმის და ხელშეკრულების მხარეების ურთიერთობის წესები</h2>
    <p class="mt20">
      10.1 წინამდებარე ხელშეკრულება, მიღება-ჩაბარების ფორმა და მხარეებს შორის ურთიერთობა ხდება ელექტრონული ფორმით, შუამავლის ვებ-გვერდის http://iDo.ge გამოყენებით.<br>
      10.2 წინამდებარე ხელშეკრულების ყველა მხარე აღიარებს მოცემული ხელშეკრულების წესების უზენაესობას და თანახმაა ყველა დავა გადაწყვიტოს შუამავლის ვებ-გვერდის http://iDo.ge საშუალებით და უარს აცხადებს უფლებაზე გაასაჩივროს წინამდებარე ხელშეკრულების რომელიმე მხარის ქმედება თუ გადაწყვეტილება სხვა ნებისმიერ ინსტანციაში.<br>
      10.3 მომსახურების პროდუქტი და ყველა მასთან დაკავშირებული გამოყენების უფლება, გარდა შესაძლოა, საავტორო უფლებისა, ეკუთვნის შემკვეთს და შუამავალი უზრუნველყოფს მხოლოდ მის გადაცემას ხელშეკრულების მხარეებს შორის და არ ფლობს რაიმე სახის უფლებას გაწეული მომსახურების პროდუქტზე როგორც პირდაპირი, ასევე ირიბი ფორმით.<br>
      10.4 გაწეული მომსახურების პროდუქტზე საავტორო უფლებების საკითხი რეგულირდება საქართველოს მოქმედი კანონმდებლობით.<br>
      10.5 წინამდებარე ხელშეკრულების მხარეები აცნობიერებენ რისკებს, რომელიც დგას მათ წინაშე და სრულად ათავისუფლებენ შუამავალს მომსახურების, ურთიერთობის, ან მომსახურების შემდგომ ეტაპზე მიღებული ნებისმიერი, როგორც პირდაპირი, ასევე ირიბი სახით მიყენებულ ზარალის პასუხისმგებლობისაგან.
    </p>
    <h2 class="heading">11. ხელშეკრულების მოქმედების ვადა</h2>
    <p class="mt20">
      11.1 წინამდებარე ხელშეკრულება ძალაშია მხარეთა მიერ ხელმოწერის დღიდან.<br>
      11.2 ხელშეკრულება მოქმედებს მხარეთა მიერ ნაკისრი ვალდებულებების შესრულებამდე.<br>
      11.3 პარაგრაფი #10-ში მოყვანილი პუნქტები ძალაშია ხელშეკრულების ხელმოწერიდან 25 წლის მანძილზე.
    </p>
    <h2 class="heading">12. ცვლილებები და დამატებები</h2>
    <p class="mt20">
      12.1 წინამდებარე ხელშეკრულებაში ნებისმიერი ცვლილების ან დამატების შეტანა ხდება მხარეთა წერილობითი შეთანხმების საფუძველზე.
    </p>
    <h2 class="heading">13. დასკვნითი დებულებები</h2>
    <p class="mt20">
      13.1 ხელშეკრულება შედგენილია ელექტრონული სახით და ინახება მისამართზე:
      {if !$order.time_added}_____________{else}http://ido.ge/agreement?order={$order.OID}{/if}<br>
      13.2 ხელშეკრულების ნებისმიერ მხარეს აქვს უფლება ჩამოტვირთოს და შეინახოს ხელშეკრულების საკუთარი ეგზემპლარი ლოკალურად ციფრული ან ბეჭდვითი სახით.
    </p>
    <h2 class="heading">14. ხელშეკრულების მხარეები</h2>
    <div class="row mt10">
      <div class="large-4 columns">შემკვეთი</div>
      <div class="large-4 columns">&nbsp;{*შუამავალი*}</div>
      <div class="large-4 columns">შემსრულებელი</div>
    </div>
    <div class="row mt10">
      <div class="large-4 columns"><u>{if $order.time_added}{$side_order.fullname}{else}________{/if}</u><br>
      პ.ნ./რ.ნ.: <u>{if $order.time_added}{$side_order.pin}{else}_________{/if}</u></div>
      <div class="large-4 columns">&nbsp;{*<u>{if $order.time_added}შოთა მეგრელიშვილი{else}________{/if}</u><br>პ.ნ./რ.ნ.: <u>{if $order.time_added}01025001520{else}________{/if}</u>*}</div>
      <div class="large-4 columns"><u>{if $order.time_added}{$side_post.fullname}{else}_________{/if}</u><br>პ.ნ./რ.ნ.: <u>{if $order.time_added}{$side_post.pin}{else}_________{/if}</u></div>
    </div>
    <p class="mt10 tright">
    ხელშეკრულების ხელმოწერის თარიღი: <u>{if $order.time_added}{$order.time_added|date_format:"%d/%m/%Y"}{else}________{/if}</u>
    </p>
  </div>
</div>
{/if}