<li class="show-for-small hover"><a href="javascript:" class="close-pm"><i class="icon-long-arrow-left gray"></i></a></li>
<li class="pm-context">{$lang795}</li>
{section name=n loop=$notifications}
{if $smarty.section.n.iteration > 5}
<li class="pm-d"></li>
<li class="pm-n-row tcenter">
	<a href="{$baseurl}/notifications" class="pm-n-more">მეტი შეტყობინება</a>
</li>
{break}
{/if}
{include file="notification_bit.tpl"}
{sectionelse}
<li class="pm-d show-for-small"></li>
<li class="tcenter mt20 mb20">შეტყობინება არ გაქვს</li>
{/section}