<div class="crumbs">
	<ul class="row collapse heading">
		<li><a href="{$baseurl}/">{$lang0}</a>
		<li><a href="{$baseurl}/faq" class=current>{$lang755}</a>
	</ul>
</div>

<div class="row mt20">
	<div class="large-12 small-12 columns">
		<h1 class="heading">{$lang755}</h1>
		<ul class="faq subheading">
			<li>
				<a href="#" class="block lh25">რა არის iDo.ge?</a>
				<div>
					<p>iDo.ge არის, ფრილანსზე (დისტანციური დასაქმება) გათვლილი პლატფორმა, სადაც ნებისმიერ მომხმარებელს შეუძლია განათავსოს მომსახურების განცხადება და დაიწყოს მუშაობა საკუთარი სპეციალობით, თავისუფალი გრაფიკით - ონლაინში. ასევე, ნებისმიერ მსურველს შეუძლია მომსახურების მიღება სახლიდან გაუსვლელად. iDo.ge იძლევა დამსაქმებლის და სამუშაოს მაძიებლის დაკავშირების მეტად მარტივ, მოხერხებულ და სწრაფ საშუალებას. მხარეებს შორის თანამშრომლობა ყველა ეტაპზე (დავალების მიღება/შესრულება/ჩაბარება და შრომის ანაზღაურება) დისტანციურად ხორციელდება.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">რა არის საჭირო მუშაობის დასაწყებად?</a>
				<div>
					<p>საიტზე iDo.ge მუშაობის დაწყება ძალზედ მარტივია. ამისათვის საჭიროა:
						<ul class="check">
							<li>ჩართული კომპიუტერი</li>
							<li>ინტერნეტთან წვდომა</li>
							<li>eMoney ელექტრონული საფულე</li>
							<li>რეგისტრაცია საიტზე www.iDo.ge</li>
							<li>განცხადების განთავსება</li>
							<li>დაკვეთის ხარისხიანად შესრულება</li>
						</ul>
					</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">როგორ დავრეგისტრირდე?</a>
				<div>
					<p>პლატფორმაზე რეგისტრაცია შესაძლებელია ორი გზით, eMoney ან Facebook ანგარიშების გამოყენებით. ეს მარტივია და იკავებს ძალზედ მცირე დროს. eMoney-ანგარიშის ფლობა აუცილებელია ანაზღაურების მისაღებად და გასაწევი მომსახურების ღირებულების გადასახდელად.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">რატომ არის აუცილებელი რეგისტრაციისას ზუსტი პირადი მონაცემების მითითება?</a>
				<div>
					<p>მომხმარებელთა უფლებების დაცვის მიზნით ყოველივე მომსახურების შეძენისას მხარეებს შორის ავტომატურად ფორმდება ელექტრონული ხელშეკრულება. ის ავტომატურად ივსება თქვენს მიერ რეგისტრაციისას მითითებული მონაცემებით (სახელი/გვარი/პირადი ნომერი). არასწორი მონაცემების შეყვანის შედეგად წარმოშობილი პრობლემების შემთხვევაში, თქვენი უფლებების დაცვა იქნება შეუძლებელი. ასევე, აუცილებელია საკონტაქტო ელფოსტის და მობილური ნომრის მითითება, რათა მაქსიმალურად სწრაფად მიიღოთ შეკვეთებთან დაკავშირებული ინფორმაცია. თავის მხრივ, iDo.ge პასუხს აგებს თქვენს მიერ მოწოდებული პირადი ინფორმაციის კონფიდენციალურობის დაცვაზე.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">შესაძლებელია თუ არა რამდენიმე ანგარიშის ფლობა საიტზე iDo.ge?</a>
				<div>
					<p>არა. რამდენიმე ანგარიშის ფლობა დაუშვებელია.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">რამდენად გარანტირებულია ჩემი შეკვეთის ხარისხიანი შესრულება?</a>
				<div>
					<p>ხარისხის და სანდოობის შესანარჩუნებლად, პლატფორმა აღჭურვილია ცალკეული მომსახურების შედეგებზე დამყარებული სარეიტინგო სისტემით. დამკვეთი და შემსრულებელი თავად აფასებენ ერთმანეთის მიმართ დაკისრებული ვალდებულებების შესრულების ხარისხს. ასევე დახვეწილია ფულადი ტრანზაქციების სისტემა. შრომის ანაზღაურება სრულდება დაცული ელექტრონული გადარიცხვების საშუალებით. გამომუშავებული თანხის განაღდება ან ანგარიშის შევსება, შესაძლებელია ნებისმიერი საბანკო ბარათით და სწრაფი ჩარიცხვის აპარატებით. მომხმარებელთა ფინანსური რისკების შესამცირებლად, შემოღებულია მომსახურების ფასების მაქსიმალური ზღვარი. ყველა დამკვეთსა და შემსრულებელს შორის ავტომატურად ფორმდება ელექტრონული ხელშეკრულება. გადახდილი თანხა იბლოკება და ირიცხება შემსრულებლის ანგარიშზე, დამკვეთის მიერ ნამუშევრის მიღების დასტურის შემდეგ. იმ შემთხვევაში, თუ სამუშაოს შედეგი გარანტირებულია, რის შესახებაც შეიტყობთ მომსახურების დეტალური აღწერის გვერდზე, და დამკვეთმა არ ჩათვალა შესრულებული სამუშაო დამაკმაყოფილებლად, გადახდილი თანხა სრულად უბრუნდება დამკვეთს. ამასთან ერთად, ზევით აღნიშნული რეიტინგების საფუძველზე შეიქმნება, ეგრეთ წოდებული „ვერიფიცირებულ“ (სანდო) შემსრულებელთა და დამკვეთთა ბაზა. შედეგად მათ მიეცემათ გაცილებით ძვირადღირებულ პროექტებზე მუშაობის შესაძლებლობა.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">რა არის eMoney ელექტრონული საფულე?</a>
				<div>
					<p>eMoney არის მულტისავალუტო ელექტრონული საფულე, რომელსაც იყენებს 750,000 ფიზიკური და იურიდიული პირი საქართველოში და მის ფარგლებს გარეთ. eMoney-ს საფულე  თავის მომხმარებლებს აძლევს საშუალებას მარტივად, კომფორტულად და რაც მთავარია ზედმეტი დანახარჯების გარეშე იშოპინგონ ინტერნეტში და გადაიხადონ სხვადასხვა პროვაიდერების გადასახადები eMoney-ს ვებ გვერდის მეშვეობით. ლიბერთი ბანკის ანგარიშებსა და ბარათების არსებულ ინფრასტრუქტურაზე დაყრდნობით, eMoney უახლოეს მომავალში  ონლაინ გადახდებისა და ინტერნეტ შოპინგის ყველაზე პოპულარული საშუალება გახდება მთელს კავკასიის რეგიონში, რითიც მცირე ბიზნესის წარმომადგენლებისათვის შექმნის გადახდების მიღების ყველაზე ხელსაყრელ და იაფ საშუალებას.eMoney ელექტრონული საფულის დახმარებით თქვენ შეგიძლიათ შეავსოთ მობილური ტელეფონის ბალანსი, გადაიხადოთ კომუნალური  და ასობით სხვა პროვაიდერის  გადასახადი დამატებითი საკომისიოს გარეშე. eMoney-ის მეშვეობით გადახდა ასევე შესაძლებელია ამიერკავკასიაში ყველაზე პოპულარულ და მსხვილ ქართულ ონლაინ ტოტალიზატორებსა და კაზინოებში. 2013 წელს eMoney-ში ჩაერთო ამიერკავკასიაში პოპულარული, საერთაშორისო პროვაიდერები, რაც ნიშნავს რომ თქვენ უკვე შეგიძლიათ შეავსოთ თქვენი Skype, World of Tanks, Odnoklassniki, WebMoney და სხვა ანგარიშების ბალანსი. თქვენ შეგიძლიათ გააგზავნოთ და მიიღოთ თანხა eMoney-ის სხვა საფულეების მფლობელებისაგან. სპეციალურად მცირე ონლაინ მერჩანტებისათვის, შექმნილია Facebook PAYstore, სადაც შესაძლებელია თქვენი  პროდუქციის რეალიზაცია მარტივად და სწრაფად, პირდაპირ eMoney საფულის მეშვეობით, ბანკში ანგარიშის გახსნის რთული პროცედურის გარეშე. eMoney Georgia-ს ერთერთი აქციონერი არის ლიბერთი ბანკი, რომელიც ემსახურება 1.4 მილიონ კლიენტს 550 მომსახურების წერტილიდან. ეს საშუალებას გვაძლევს კლიენტებს შევთავაზოთ მრავალი სერვისი, რომელიც არის ბანკთან ინტეგრირებული. კლიენტებს შეუძლიათ სრულიად უფასოდ შეუკვეთონ PAY მულტისავალუტო ანგარიში და გადააბან იგი თავის eMoney საფულეს.eMoney სისტემა საშუალებას აძლევს თავის კლიენტებს მარტივად და სწრაფად შეიტანონ და გაანაღდონ თანხა თავისი საფულიდან მრავალი არხის მეშვეობით. eMoney საფულიდან თანხის გატანა შესაძლებელია ლიბერთი ბანკის ქსელიდან:
						<ul class="check">
							<li>550 მომსახურე წერტილიდან საქართველოს მასშტაბით</li>
							<li>311 ბანკომატიდან ელექტრონული პირადობის მეშვეობით</li>
							<li>საფულეზე გადაბმულ PAY მუტლისავალუტო ანგარიშზე თანხის გადატანით ღილაკის 1 დაჭერით</li>
							<li>ნებისმიერ ქართულ საბანკო ანგარიშზე,  გადარიცხვის გზით</li>
							<li>eMoney საფულეს ბალანსის შევსება შესაძლებელია მარტივად და სწრაფად მრავალი არხიდან</li>
							<li>ლიბერთი ბანკის მომსახურების წერტილების ფართო ქსელიდან</li>
							<li>ლიბერთი ბანკის ბანკომატებიდან</li>
							<li>ნებისმიერი ტიპის თვითმომსახურების ტერმინალიდან (NOVA, OSMP, TBC Pay, ExpressPay)</li>
							<li>საფულეზე გადაბმული PAY ბარათიდან</li>
							<li>ნებისმიერი VISA ან MasterCard ბარათიდან</li>
						</ul>
					eMoney-ს ვერიფიცირებულ კლიენტებს შეუძლიათ უფასოდ შექმნან eMoney VISA ვირტუალური ბარათი,რაც მათ საშუალებას მისცემს მოხერხებულად იშოპინგონ მსოფლიოს ონლაინ  მაღაზიებში, რომლებზეც შესაძლებელია გადახდების მიღება VISA ბარათების მეშვეობით. ვირტუალური ბარათის შექმნა შესაძლებელია 1 დღიდან 1 წლამდე ვადით, ნებისმიერი რაოდენობით და თქვენთვის სასურველი ლიმიტებით, რაც კიდევ უფრო უსაფრთხოს ხდის ვირტუალური ბარათით სარგებლობას.ჩვენს ქართულ მომხმარებლებს შესაძლებლობა აქვთ ისარგებლონ eMoneyConnect სერვისით პოპულარულ ქართულ საიტებზე, როგორებიცაა iDo.ge, MyVideo.ge, eAuction.ge, Swoop.ge, Freeshop.ge, MyPhone.ge და გაიარონ ავტორიზაცია ამ საიტებზე თავისი eMoney-ს მომხმარებლის სახელითა და პაროლით.
					</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">როგორ შევავსო eMoney ელექტრონული საფულე?</a>
				<div>
					<p>eMoney ანგარიშის შევსება შესაძლებელია შემდეგი არხების გამოყენებით:
						<ul class="check">
							<li>ლიბერთი ბანკის სერვის ცენტრებსა და მობილურ სერვის ცენტრებში</li>
							<li>eMoney საფულეზე გადაბმული თქვენი ლიბერთი ბანკის ანგარიშიდან</li>
							<li>ვებ-გვერდიდან www.smartivi.ge</li>
							<li>ნებისმიერი ბანკის პლასტიკური ბარათით</li>
							<li>სტანდარტ ბანკის ნებისმიერ ფილიალში</li>
							<li>IDram ანგარიშიდან გადმორიცხვით. ( <a href="http://uchange.net/" target="_blank">http://uchange.net/</a> დან )</li>
							<li>webmoney.ru ანგარიშიდან გადმორიცხვით.</li>
							<li>YandexMoney ანგარიშიდან გადმორიცხვით. ( <a href="http://uchange.net/" target="_blank">http://uchange.net/</a> დან )</li>
							<li>PayBox მომენტალური გადახდების აპარატების მეშვეობით</li>
							<li>TBCPay მომენტალური გადახდების აპარატების მეშვეობით</li>
							<li>Express Pay მომენტალური გადახდების აპარატების მეშვეობით</li>
							<li>საქართველოში არსებული ნებისმიერი სწრაფი გადახდის აპარატიდან </li>
							<li>ასევე შესაძლებელია თანხა გადმოგირიცხოთ eMoney-ს ნებისმიერმა მომხმარებელმა</li>
						</ul>
					</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">როგორ გავანაღდო გამომუშავებული თანხა?</a>
				<div>
					<p>eMoney სისტემა საშუალებას აძლევს თავის კლიენტებს მარტივად და სწრაფად შეიტანონ და გაანაღდონთანხა თავისი საფულიდან მრავალი არხის მეშვეობით. eMoney საფულიდან თანხის გატანა შესაძლებელია ლიბერთი ბანკის ქსელიდან:
						<ul class="check">
							<li>550 მომსახურე წერტილიდან საქართველოს მასშტაბით</li>
							<li>311 ბანკომატიდან ელექტრონული პირადობის მეშვეობით (პლასტიკური ბარათის გარეშე)</li>
							<li>საფულეზე გადაბმულ PAY მუტლისავალუტო ანგარიშზე თანხის გადატანით ღილაკის 1 დაჭერით</li>
							<li>ნებისმიერ ქართულ საბანკო ანგარიშზე,  გადარიცხვის გზით.</li>
							<li>ID ბარათის (საქართველოს მოქალაქეს ახალი პირადობის დამადასტურებელი მოწმობა) მეშვეობით ლიბერთი ბანკის ნებისმიერი  ბანკომატიდან</li>
						</ul>
					</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">როგორ შევადგინო განცხადება?</a>
				<div>
					<p>ზოგადად რომ ვთქვათ, ეს არის-დისტანციური დასაქმება (Freelance), რაც ჩვენ შემთხვევაში გულისხმობს მხოლოდ ისეთი ტიპის პროდუქტის და მომსახურების (შეკვეთის) კლიენტისთვის შეთავაზებას, რომლის მიღება/ჩაბარება ხორციელდება არა პირდაპირი კონტაქტით, არამედ მხოლოდ ინტერნეტის მეშვეობით. განცხადებაში აუცილებლად უნდა იყოს გარკვევით ნაჩვენები თუ რა მოცულობის მომსახურებას ვთავაზობთ კლიენტს იმ ფასში, რომელიც დავაწესეთ განცხადების შედგენისას და რომელიც არ შეიცვლება კონკრეტული შეკვეთის ფარგლებში.ქვემოთ აღწერილია, თუ როგორ უნდა მოიქცეთ იმისათვის რომ მეტად იყოთ დაცული, და საიტზე www.iDo.ge საქმიანობის შედეგად მიიღით მაქსიმალურად მაღალი კომერციული შედეგი!
					<br><br>
					წარმოგიდგენთ განცხადების ფორმის შევსების ინსტრუქციას, სადაც ეტაპობრივად განვიხილავთ ყველა შესავსებ ველს:</p>
					<h4>1. სათაური</h4>
					<p>თქვენი განცხადების სათაურიუნდა იყოს მიმზიდველი და მოკლედ აღწერდეს შეთავაზების შინაარს. კარგი იქნებოდა 40-80 სიმბოლოსაგან შემდგარი სათაური. მანდ უკვე ზოგადად უნდა ვთქვად რას ვთავაზობთ კლიენტს. მაგალითისთვის: მაგივრად „ვთარგმნი იტალიურ ტექსტებს“, აჯობებს - „გადავთავრგმნი 2 გვერდს იტალიურიდან-ქართულად“, ანუ უნდა ჩანდეს რა მოსულობის მომსახურებას ვთავაზობთ დამკვეთს ჩვენს მიერ მითითებულ ფასში. გამოქვეყნების შემდეგ, განცხადებაში სათაურს ავტომატურად მიემატება თქვენ მიერ არჩეული ფასი (დავუშვათ 5) და შედეგად მივიღებთ : „გადავთავრგმნი 2 გვერდს იტალიურიდან-ქართულად 5 ლარად“.</p>
					<h4>2. განცხადების შინაარსი</h4>
					<p>აქ უნდა შევეცადოთ რომ განცხადება აღვწეროთ მაქსიმალურად დეტალურად. უნდა ვაჩვენოთ დამკვეთს კონკრეტული აღწერილობა იმისა თუ რას ვთავაზობთ.
					<br><br>
					მაგალითად ასე:<br>
					„ვთარგმნი იტალიურიდან-ქართულად და პირიქით. მოცემულ ფასში შედის 2 გვერდის თარგმნა 12-ნი შრიფტით, 1,2 დაშორებით. იგულისხმება თარგმანის შედეგად მიღებული ტექსტის მოცულობა. სათარგმნი ტექსტის დიდი მოცულობის შემთხვევაში შეიძინეთ შესაბამისი რაოდენობის განცხადება.“
					<br><br>
					აქედან ჩანს რას მიიღებს კლიენტი განცხადების შეძენის შედეგად, და ისიც თუ როგორ უნდა მოიქცეს იმ შემთხვევაში თუ გადასათარგმნი მასალა დიდი რაოდენობით გააჩნია. გარდა ამისა შემსრულებელს ასევე შეუძლია განათავსოს რამდენიმე განცხადება სხვადასხვა შეთავაზების მოცულობით ან პაკეტით. მაგალითად გამოაქვეყნოს მეორე განცხადება სადაც ანალოგიური სიზუსტით აღწერს მომსახურებას ოღონდ შესთავაზებს სხვას - „იტალიურ ენოვანი ტექსტის, 10 გვერდის რედაქტირება“ ამას დაემატება მითითებული ფასი და გამოვა - „იტალიურ ენოვანი ტექსტის10 გვერდის რედაქტირება 15 ლარად“. ვგონებ, რთული ამაში არაფერი არ არის :) ! ... გადავიდეთ შემდეგ „საფეხურზე“.</p>
					<h4>3. შეთავაზების მიღების ინსტრუქცია</h4>
					<p>ეს ველი ყველასათვის კიდევ უფრო მარტივად გასაგები უნდა იყოს. ახლა უნდა მოვთხოვოთ დამკვეთს რომ მოგვაწოდოს შეთავაზების შესასრულებლად საჭირო: - ინფორმაცია, ფაილები, სხვა მასალა. მიუთითეთ ეს ინსტრუქციის სახით, მაგ.: "გთხოვთ მომაწოდოთ კომპანიის დასახელება და მიმართულების სტილის აღწერა ლოგოს დასამზადებლად", ან "მომაწოდეთ ფოტოსურათი, რომელიც გინდათ, რომ დავამუშავო თქვენთვის" ტექსტების შემთხვევაში შეგვიძლია მივუთუთოთ ფაილის ფორმატი - „გადასათარგმნი ტექსტი გამომიგზავნეთ საიტის მიმოწერაში მიმაგრებული ფალის სახით. ფორმატი - txt,pdf,djvu ან სკანირებული - jpeg“ … და ა.შ..</p>
					<h4>4. კატეგორია</h4>
					<p>აქ ცხადზე ცხადია რომ ზუსტად უნდა ვიცოდეთ თუ რომელ კატეგორიას უნდა მივაკუთვნოთ ჩვენი საქმიანობა რათა კლიენტმა ადვილად „მოგვაგნოს“. მოერიდეთ უგულველყოფას კატეგორიის არჩევისას, იმიტომ რომ ამას როგორც თქვენთვის, ასევე ჩვენთვის დიდი მნიშვნელობა აქვს :)</p>
					<h4>5. სამუშაოს შესრულების დრო</h4>
					<p>ამ ველში როგორც უკვე მიხვდით უნდა ჩავწეროთ თუ რამდენ ხანში შევასრულებთ აღებულ ვალდებულებას. ნუ შეეცდებით მინიმალური ვადის მითითებას, გაითვალისწინეთ რომ შეკვეთების რაოდენობამ დროთა განმავლობაში შესაძლოა გადააჭარბოს მოსალოდნელს, თუმცა ამავე დროს ისიც გასათვალისწინებელია რომ დიდხანს საქმის „გაწელვა“ დამკვეთისთვის არასასურველი რამაა.</p>
					<h4>6. ფოტოსურათი და ვიდეორგოლის ბმული</h4>
					<p>მხოლოდ ერთი რეკომენდაცია, ფოტოსურათებისგან და ვიდეორგოლისგან შედგება პორტფოლიო, რომელიც შეიძლება ჩაითვალოს თქვენს სავიზიტო ბარათად, ამიტომ აჯობებს, რომ იზრუნოთ მის ესთეტიკურ გარეგნობაზე.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">რა უპირატესობა აქვს საიტს www.iDo.ge?</a>
				<div>
					<ul class="check no-margin">
						<li>ძირითადი ან დამატებითი შემოსავლის წყარო</li>
						<li>უფასო და მარტივი რეგისტრაცია</li>
						<li>შემოსავლების განაღდების მარტივი და დაცული სისტემა</li>
						<li>პოტენციურ კლიენტთა დიდი აუდიტორია</li>
						<li>ერთდროულად რამდენიმე მიმართულებით (პროფესიით) მოღვაწეობის შესაძლებლობა</li>
						<li>მუშაობის თავისუფალი განრიგი</li>
						<li>სახლიდან გაუსვლელად დასაქმების შესაძლებლობა</li>
						<li>საკუთარი იდეების განხორციელების და შინაგანი პოტენციალის გამოვლენის საშუალება</li>
						<li>მომსახურების ფართო სპექტრი</li>
						<li>ჯანსაღი კონკურენციის პირობები</li>
						<li>მომსახურების ხარისხის შესანარჩუნებლად გამოიყენება მკაცრი სარეიტინგო სისტემა</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">როგორ შევიძინო მომსახურება?</a>
				<div>
					<p>მომსახურების შეძენისათვის საჭიროა რომ იყოთ დარეგისტრირებული და გქონდეთ მოქმედი eMoney ანგარიში. სასურველი მომსახურების არჩევის გამარტივებისთვის უკეთესია მოიძიოთ ის საძიებო სიტყვების საშუალებით ან კატეგორიების დათვალიერებით. მომსახურების მოძიების შემდგომ უნდა დააწვეთ შეკვეთის ღილაკს. ფასში მითითებული თანხა დაიბლოკება თქვენივე ანგარიშზე და გადაირიცხება მხოლოდ მას შემდეგ რაც თქვენ მიიღებთ და დადებითად შეაფასებთ მომსახურებას. უხარისხოდ შესრულებული დაკვეთის შემთხვევაში, გადახდილი თანხა სრულად დაგიბრუნდებათ.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25">რა გადასახადები შემეხება საიტზე  iDo.ge საქმიანობისას?</a>
				<div>
					<p>პლატფორმა საკომისიოს სახით იტოვებს ​დ​​ამკვეთის მიერ ​გადახდილი თანხის 10 პროცენტს, ხოლო მინიმალური - 5 ლარიანი გარიგების შემთხვევაში, საკომისიო შეადგენს - 1 ლარს. მასში შედის eMoney ელექტრონული საფულ​ე​თ​ი​ სარგებლობის გადასახადი.<br>დანარჩენი საგადასახადო ვალდებულებები​, დამკვეთსა და შემსრულებელს შორის​ როგორც ჩვეულებრივ, ​რეგულირდება საქართველოს საგადასახადო კანონმდებლობის თანახმად და თავად​ შემსრულებელი​ აგებს მასზე დაკისრებულ საგადასახადო ვალდებულებებზე პასუხისმგებლობას.</p>
				</div>
			</li>
			<li>
				<a href="#" data-p="general" data-t="commission" class="block lh25">პლატფორმით სარგებლობის საკომისიო</a>
				<div>
					<p>ფრილანსინგის პოპულარიზაცია ჩვენს ქვეყანაში უპირველესი მიზანია. ამის მისაღწევად პლატფორმით სარგებლობისათვის დაწესებულია შემდეგი საკომისიო:<br>
					<strong>ზოგადი ტარიფი:</strong><br>
					<i class="icon-caret-right"></i> ანგარიშის რეგისტრაცია - უფასო;<br>
					<strong>დამკვეთისათვის:</strong><br>
					<i class="icon-caret-right"></i> განცხადების განთავსება - უფასო;<br>
					<i class="icon-caret-right"></i> მიღებული მომსახურებისათვის დამკვეთის მიერ გადასახდელი საკომისიო განისაზღვრა 0%-ით. გადაწყვეტილება ძალაშია 2015 წლის 30 დეკემბრამდე.<br>
					<strong>ფრილანსერისათვის:</strong><br>
					<i class="icon-caret-right"></i> განცხადების განთავსება - უფასო;
					<i class="icon-caret-right"></i> ფრილანსერის მიერ საკუთარი პროფილის სრულად შევსების შემთხვევაში, მას ეძლევა საშუალება გაიაქტიუროს გაწეული მომსახურების ანაზღაურებიდან დასაქვითი 0%-იანი საკომისიოს ფუნცქცია. გადაწყვეტილება ძალაშია 2015 წლის 31 მაისამდე.<br><br>
					პლატფორმის ადმინისტრაციის გადაწყვეტილებით დადგენილი ვადები შეიძლება გახანგრძლივდეს.
					</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25" data-p="seller" data-t="dealtypes">რომელი თემატიკის მქონე განცხადებების განთავსებაა დაშვებული საიტზე iDo.ge?</a>
				<div>
					<h4>1. გრაფიკა და დიზაინი.</h4>
					<ul class="check">
						<li>კარიკატურების, ილუსტრაციების და ანიმაციების დამზადება</li>
						<li>ლოგოტიპის, სხვა-და-სხვა სიმბოლიკის და გრაფიკული ატრიბუტიკის დამზადება</li>
						<li>ვებ გვერდის დიზაინის შემუშავება/შექმნა</li>
						<li>ფოტო სურათის  დამუშავება</li>
						<li>პრეზენტაციის დიზაინი</li>
						<li>ნახაზების დამზადება</li>
					</ul>
					<h4>2. მართლწერა და თარგმნა.</h4>
					<ul class="check">
						<li>კოპირაიტინგი. CV-ს, ბიზნეს გეგმის, საპრეზენტაციო გამოსვლების ტექსტების დაწერა</li>
						<li>ვებ საიტის ტექსტური კონტენტის მოფიქრება/დაწერა. (სტატია, აღწერა)</li>
						<li>ტექსტების რედაქტირება. ორთოგრაფიული/სინტაქსური/გრამატიკული შეცდომების გამოსწორება. შინაარსის, სტილისტიკის დამუშავება</li>
						<li>თარგმნა</li>
						<li>ტექსტის აკრეფა</li>
						<li>დაკაბადონება</li>
					</ul>
					<h4>3. IT & პროგრამირება.</h4>
					<ul class="check">
						<li>ვებ მასტერი. ვებ გვერდების შექმნა</li>
						<li>საიტების მოდერაცი</li>
						<li>საიტების ტესტირება. შესაძლო შეცდომების ან სხვა და სხვა "ბაგების" ამოჩენის მიზნით საიტის ან აპლიკაციის ტესტირება</li>
						<li>პროგრამისტი. კომპიუტერული პროგრამების/აპლიკაციების შექმნა.(.Net, C++, CSS, HTML, Java, JavaScript, PHP...)</li>
						<li>iOS, Android, Windows mobile და სხვადასხვა  სატელეფონო აპლიკაციების შექმნა</li>
						<li>მონაცემთა ბაზების შექმნა</li>
						<li>ონლაინ რეჟიმში პროგრამების ინსტალაცია</li>
					</ul>
					<h4>4. საჩუქრები და საჩუქრის იდეები.</h4>
					<ul class="check">
						<li>მისალოცი ბარათები</li>
						<li>სასიყვარულო ლექსის დაწერა</li>
						<li>სხვა-და-სხვა თაიგულების, სათამაშოების, მაკეტების შექმნის ინსტრუქციები, ვიდეო ინსტრუქციები, ნახაზები</li>
					</ul>
					<h4>5. რეკლამირება.</h4>
					<ul class="check">
						<li>კრეატივი. სლოგანი, სარეკლამო სტატიები</li>
						<li>ფლაიერების, სავიზიტო ბარათების, სარეკლამო ბანერების დამზადება. (დიზაინი)</li>
						<li>სარეკლამო, საპრეზენტაციო ტექსტების დაწერა</li>
						<li>რეკლამის ტექსტის გახმოვანება</li>
					</ul>
					<h4>6. ცხოვრების სტილი.</h4>
					<ul class="check">
						<li>პერსონალური ჰოროსკოპის შედგენა</li>
						<li>მკითხაობა პიროვნების სურათზე, ხელის სურათზე, სახელით და გვარით და ა.შ. .</li>
						<li>წონის დამკლები/გამაჯანსაღებელი დიეტები</li>
						<li>პერსონალური დიეტის შემუშავება</li>
						<li>პერსონალური ვარჯიშის განრიგის გათვლა</li>
						<li>კულინარიული რეცეპტები</li>
						<li>მხატვრული ნაწარმოებებით ვაჭრობა (საავტორო უფლებების დაცვის გათვალისწინებით !!!)</li>
					</ul>
					<h4>7.კონსულტაცია და რჩევები.</h4>
					<ul class="check">
						<li>ფსიქოლოგის დახმარება</li>
						<li>ბუღალტერის, იურისტის, ხელოსნის კონსულტაცია</li>
						<li>ბრძენი ადამიანის ცხოვრებისეული რჩევები</li>
					</ul>
					<h4>8. მარკეტინგი და სოც. მარკეტინგი.</h4>
					<ul class="check">
						<li>S.M.O. (Social Media Optimization). საიტების სოციალურ ქსელებში და მედიაში ოპტიმიზაცია და პოპულარიზაცია</li>
						<li>S.E.O. (Search Engine Optimization). საიტის ოპტიმიზაცია საძიებო სისტემებისთვის</li>
					</ul>
					<h4>9. ბიზნესი.</h4>
					<ul class="check">
						<li>ბიზნეს იდეები</li>
						<li>ბიზნეს გეგმის/სტარტეგიის მომზადება</li>
					</ul>
					<h4>10. სასაცილო და სახალისო.</h4>
					<ul class="check">
						<li>ანეკდოტების მოფიქრება</li>
						<li>პერსონალური ავატარის, კარიკატურის დახატვა</li>
						<li>"სახუმარო, გაშაყირების პროექტები"</li>
						<li>ლექსები, ზღაპრები, სიმღერები</li>
					</ul>
					<h4>11. აუდიო ვიდეო.</h4>
					<ul class="check">
						<li>ნებისმიერი ტექსტის გახმოვანება და მისი ვიდეო ან აუდიო ჩანაწერის სახით მიწოდება</li>
						<li>აუდიო რგოლის დამზადება/დამუშავება</li>
						<li>ვიდეო რგოლის დამზადება/დამუშავება</li>
					</ul>
					<h4>12. სხვადასხვა.</h4>
					<ul class="check">
						<li>საშინაო დავალებები, შპარგალკები, საკონტროლოები</li>
						<li>ნებისმიერი, საკუთარი ინიციატივით შექმნილი შეთავაზება, რომელიც არ ემთხვევა სხვა კატეგორიას.</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25" data-p="seller" data-t="predeliver">როგორ დავიცვათ საკუთარი ნაშრომი?</a>
				<div>
					<p>საკუთარი ნაშრომის დასაცავად, საკმარისია დამკვეთს გაუგზავნო წინასწარი, ანუ შავი ვერსია.<br>
					მაგალითად:<br>
					- გადათარგმნილი ან შესწორებული ტექსტის მცირე ფრაგმენტი;<br>
					- დამუშავებული ფოტოსურათი დამცავი ნიშნით (watermark-ით);<br>
					- შესრულებული ლოგოტიპის არავექტორული ვარიანტი დაბალი რეზოლუციით;<br>
					შენი საქმიანობის სპეციფიკიდან გამომდინარე, გამოიყენე ნაშრომის დაცვის სხვა გონივრული საშუალება.<br>
					წინასწარი ვერსიიდან ნათლად უნდა ჩანდეს საბოლოო შედეგის ხარისხი და უნდა იყოს შესაძლებელი მისი შეფასება.<br>
					დამკვეთის მიერ წინასწარი ვერსიის მოწონება ნიშნავს იმას, რომ გაწეული სამუშაოსათვის მიიღებ ანაზღაურებას და ამ შემთხვევაში, დასრულებული სამუშაოს ანაზღაურების გარანტიას იძლევა iDo.ge პლატფორმა. მას შემდეგ, რაც დამკვეთი მოიწონებს წინასწარ ვერსიას, შეგიძლია მშვიდად ჩააბარო შესრულებული სამუშაოს საბოლოო ვერსია.</p>
				</div>
			</li>
			<li>
				<a href="#" class="block lh25" data-p="buyer" data-t="businessaccount">რა შეზღუდვა მოქმედებს იურიდიულ პირთათვის?</a>
				<div>
					<p>ეროვნული ბანკის მიერ დადგენილი რეგულაციით, იურიდიულ პირს არ აქვს უფლება გადაიხადოს ელექტრონული ფულით. შესაბამისად, თუ iDo.ge-ზე რეგისტრაცია იურიდიულ პირზე გაფორმებული eMoney-ს ანგარიშით გაიარე, შეძლებ გასწიო მომსახურება და მიიღო ანაზღაურება, მაგრამ ვერ შეძლებ სხვის დაქირავებას და მისთვის ფულის გადახდას.<br>
					სხვის მიერ შემოთავაზებული მომსახურების შესაკვეთად გაიარე რეგისტრაცია ახალი, კერძო პირზე გაფორმებული eMoney-ს ანგარიშით.</p>
				</div>
			</li>
		</ul>

		<p class="subheading" style="margin-top: 40px">შეკითხვები გამოაგზავნეთ საფოსტო მისამართზე: <a href="mailto:contact@ido.ge">contact@iDo.ge</a>. ჩვენ აუცილებლად გიპასუხებთ.</p>
	</div>
</div>

<script>
  var baseurl = '{$baseurl}';
  var def_js = ['{$baseurl}/js/faq.js?v=4'];
</script>