<div class="crumbs">
  <ul class="row collapse heading">
    <li><a href="{$baseurl}/">{$lang0}</a>
    <li><a href="{$baseurl}/manage_deals" class=current><i class="icon-smile"></i> {$lang156}</a>
  </ul>
</div>


              <div class="main-wrapper">
                <div id="main">
                  <div class="content">
                        <div class="section">
                            <div class="t">&nbsp;</div>
                            <div class="c">
                                <div class="first-gig">
                                  <div class="heading">
                                    <h2>{$lang55} <span>{$lang56}</span></h2>
                                  </div>
                                  <ul class="steps">
                                    <li class="step-1"><p>{$lang57}</p></li>
                                    <li class="step-2"><p>{$lang58}</p></li>
                                    <li class="step-3"><p>{$lang59}</p></li>
                                    <li class="step-4"><p>{$lang60}</p></li>
                                  </ul>
                                  <div class="create">
                                    <a href="{$baseurl}/new" style="font-size:30px; float:right; text-decoration:none">{$lang61}</a>
                                  </div>
                                </div>
                            </div>
                            <div class="b">&nbsp;</div>
                        </div>
                  </div>
                  
                  {include file="side.tpl"}
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>