<div class="row work-area work-area-pad mt20">
<ul class="inbox-style">
	{section name=n loop=$notifications}
	{if $smarty.section.n.iteration > 200}{break}{/if}
	{include file="notification_bit.tpl"}
	{sectionelse}
	<li class="pm-n-row tcenter mt20 mb20">შეტყობინება არ გაქვს</li>
	{/section}
</ul>
</div>