<div class="crumbs">
  <ul class="row collapse heading">
    <li><a href="{$baseurl}/">{$lang0}</a>
    <li><a href="{$baseurl}/terms_of_service" class=current>{$lang567}</a>
  </ul>
</div>

<div class="row mt20">
  <div class="large-12 small-12 columns subheading">
    <h1 class=heading>საიტით სარგებლობის წესები:</h1>

    <ol>
      <li>მომხმარებელი ვალდებულია გაეცნოს და დაემორჩილოს საიტის ადმინისტრაციის მიერ განსაზღვრულ წესებს. საიტის სარგებლობისთვის დაწესებული წესების არ ცოდნა არ ანთავისუფლებს მომხმარებელს მათი დაცვის ვალდებულებისაგან.</li>
      <li>აკრძალულია რამდენიმე ანგარიშის ფლობა. ერთ მომხმარებელს აქვს უფლება იქონიოს მხოლოდ ერთი ანგარიში.</li>
      <li>აკრძალულია ყველა ის ქმედება, რაც ეწინააღმდეგება საქართველოს კონსტიტუციას და რასაც ითვალისწინებს საქართველოს სისხლის სამართლის და ადმინისტრაციულ სამართალდარღვევათა კოდექსები.</li>
      <li>მომხმარებელი ვალდებულია, პატივი სცეს როგორც ადმინისტრაციის გადაწყვეტილებას, ასევე საიტის სხვა მომხმარებლის შეხედულებებსა და აზრის გამოხატვის თავისუფლებას, წესებით დადგენილ ნორმებში.</li>
      <li>მომხმარებელი ვალდებულია დაიცვას საავტორო უფლებები. საავტორო უფლებების დარღვევის შემთხვევებზე მთელი პასუხისმგებლობა ეკისრება მომხმარებელს.</li>
      <li>მომხმარებელი ვალდებულია უზრუნველყოს თავისი ანგარიშის უსაფრთხოება. ანგარიშის ე.წ. "გატეხვის" შემთხვევაში მიყენებულ ზიანზე საიტის ადმინისტრაცია პასუხს არ აგებს.</li>
      <li>აკრძალულია ანგარიშის მეორე პირისთვის "გადაცემა", ან ერთი ანგარიშით რამდენიმე მომხმარებლის სარგებლობა. მოცემულ შემთხვევებში, ადმინისტრაცია უფლებას იტოვებს გაფრთხილების გარეშე შეაჩეროს ანგარიშით სარგებლობა, დროებით ან უვადოდ.</li>
      <li>კატეგორიულად აკრძალულია საიტის ადმინისტრაციის, მოდერატორთა და საიტის სხვა მომხმარებელთა მიმართ არაკორექტული (უხეში, შეურაცხმყოფელი, უცენზურო, ცინიკური, დამცინავი) და არაეთიკური მიმართვა-დამოკიდებულება, რომელიც აისახება მიმოწერაში თუ ატვირთულ ფაილებში.</li>
      <li>აკრძალულია როგორც ფაშისტური, ნაცისტური, სადისტური, პორნოგრაფიული, რელიგიური უმცირესობების შეურაცხმყოფელი, ანტირელიგიური და რასისტული ატრიბუტიკის შემცველი გამოსახულებების განთავსება-გამოყენება, ისე მსგავსი იდეოლოგიის შემცველი მოწოდებებისა და განცხადებების გავრცელება.</li>
      <li>აკრძალულია შანტაჟი, პროვოკაციული განცხადებები და ცრუ ინფორმაციის გავრცელება.</li>
      <li>ასევე საიტის ადმინისტრაცია იტოვებს უფლებას, შეიტანოს ცვლილებები ან დამატებები წესებში, მომხმარებელთა წინასწარი ინფორმირების გარეშე.</li>
    </ol>
    
    <h2 class=heading>საიტის მომსახურების პირობები:</h2>
    საიტის ის მომხმარებელი, რომელიც ანთავსებს განცხადებას, მომავალში ნახსენები როგორც "შემსრულებელი" უწევს მომსახურებას მესამე პირს, მომავალში ნახსენები როგორც "დამკვეთი", აღნიშნული საიტის საშუალებით, მომავალში ნახსენები, როგორც "პლატფორმა".
    <ol class=mt10>
      <li>შემსრულებელს აქვს უფლება გარკვეული გასამრჯელოს მიღების მიზნით განათავსოს განცხადება ონლაინ-პლატფორმაზე;</li>
      <li>პლატფორმაზე განცხადების განთავსება <span class="red">უფასოა</span>;</li>
      <li>დამკვეთს უფლება აქვს ხელმისაწვდომი გადახდის ინსტრუმენტის საშუალებით გადაიხადოს განცხადებაში მითითებული საფასური და მოთხოვოს შემსრულებელს განცხადებაში მოყვანილი შეთავაზების შესრულება;</li>
      <li>პლატფორმის მომსახურების საკომისიო შეადგენს განცხადებაში მოყვანილი ფასის 10% (მინ. 1 ლარი);</li>
      <li>გაწეული მომსახურებისათვის შემსრულებლის ვირტუალურ ანგარიშზე თანხის ჩარიცხვა პლატფორმის საკომისიოს გამოკლებით ხდება განცხადებაში მოყვანილი მომსახურების ჩაბარების და დამკვეთის მიერ მომსახურების მიღების დასტურის შემდეგ;</li>
      <li>იმ შემთხვევაში, თუ შემსრულებელი ვერ/არ მიაწვდის დამკვეთს განცხადებაში მოყვანილ მომსახურებას დათქმულ ვადაში, დამკვეთს ეძლევა უფლება გააუქმოს შეკვეთა და სრულად დაიბრუნოს გადახდილი თანხა საკუთარ ვირტუალურ ანგარიშზე;</li>
      <li>იმ შემთხვევაში, თუ მომსახურების ჩაბარების შემდეგ, დამკვეთი ხუთი დღის განმავლობაში არ ჩაიბარებს და არ გაასაჩივრებს მას, მომსახურება ავტომატურად ჩაითვლება ჩაბარებულად და გასაჩივრებას აღარ ექვემდებარება;</li>
      <li>იმ შემთხვევაში, თუ შემსრულებლის მიერ მომსახურების ჩაბარების შემდეგ ხუთი დღის განმავლობაში დამკვეთი უარს განაცხადებს მომსახურების მიღებაზე იმ სახით, რომელიც მას მიეწოდა, შემსრულებელი ვალდებულია შეიტანოს საჭირო შესწორებები და ხელახლა ჩააბაროს დამკვეთს მომსახურება. პროცესი იწყება თავიდან;</li>
      <li>იმ შემთხვევაში, თუ შემსრულებლის მიერ მომსახურების ჩაბარების შემდეგ ხუთი დღის განმავლობაში დამკვეთი გაასაჩივრებს მიღებულ მომსახურებას და დააფიქსირებს მიზეზს, რომელიც საიტის ადმინისტრაციის გადაწყვეტილებით ჩაითვლება სამართლიანად, შეკვეთა გაუქმდება და გადახდილი თანხა სრულად დაუბრუნდება დამკვეთს ვირტუალურ ანგარიშზე;</li>
      <li>იმ შემთხვევაში, თუ დამკვეთის საჩივარი არ იქნება მიღებული, საიტის ადმინისტრაციის გადაწყვეტილებით, ა) პროცესი ხელახლა დაიწყება და შემსრულებელს ექნება საშუალება გამოასწოროს ხარვეზი, ან ბ) სამუშაო ჩაითვლება შესრულებულად და შემსრულებელის ვირტუალ ანგარიშზე ჩაირიცხება განცხადებაში მითითებული თანხა პლატფორმის საკომისიოს გამოკლებით;</li>
      <li>გამომუშავებული თანხის eMoney-ს ანგარიშზე ჩარიცხვა ხდება მომდევნო თვის 20-რიცხვისთვის, რის შემდეგაც თანხა თქვენს განკარგულებაშია.</li>
    </ol>
  </div>
</div>